<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K+孵化器</title>
    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/Incubator.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../config/api.js"></script>
    <script src="../../components/header.js"></script>
    <script src="../../components/footer.js"></script>
    <link rel="stylesheet" href="../../assets/css/swiper.min.css">
    <script src="../../assets/js/swiper.min.js"></script>
    <script src="../../components/Incubator/Incubator.js"></script>
</head>
<body>
    <div class="Incubator-box">
        <div class="header active" id="header"></div>

        <div class="Incubator-content">
            <div class="formmode-content-title">
                <h2>K Plus</h2>
                <p>夸克星实验室参与共建 “科技部中技所数字科技创新研究院”</p>
                <p>创新技术+资源平台+资金平台，打造商业新英雄</p>
                <a href="javascript:;" class="formmode-content-title-submit">提交BP</a>
            </div>
            <div class="Incubator-content-list" id="Incubator-content-list">
                <ul>
                    <li class="active">
                        <span></span>
                        <h2>技术</h2>
                    </li>
                    <li>
                        <span></span>
                        <h2>资金</h2>
                    </li>
                    <li>
                        <span></span>
                        <h2>资源</h2>
                    </li>
                    <li>
                        <span></span>
                        <h2>服务</h2>
                    </li>
                    <li>
                        <span></span>
                        <h2>导师</h2>
                    </li>

                </ul>
            </div>
            <div class="Incubator-logo">
                <div class="Incubator-content-list-logo">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>
                                <p>科技部中技所数科院</p>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>
                                <p>科技部中技所数科院</p>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>
                                <p>科技部中技所数科院</p>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>
                                <p>科技部中技所数科院</p>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>
                                <p>科技部中技所数科院</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Incubator-swiper">
                <div class="Incubator-content-list-swiper">
                    <div class="swiper-container-content">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_1.png" alt=""></div>
                                <p>Artificial Intelligence</p>
                                <h2>人工智能</h2>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_2.png" alt=""></div>
                                <p class="p">Intelligent hardware</p>
                                <h2 class="h2">智能硬件</h2>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_3.png" alt=""></div>
                                <p>Blockchain</p>
                                <h2>区块链</h2>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_4.png" alt=""></div>
                                <p>Culture</p>
                                <h2>人文科技</h2>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_5.png" alt=""></div>
                                <p>Internet of Vehicles</p>
                                <h2>车联网</h2>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_6.png" alt=""></div>
                                <p>Finance</p>
                                <h2>金融科技</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Incubator-nov">
                <div class="Incubator-nov-content">
                    <div class="Incubator-nov-list">
                        <ul id="Incubator-nov-list-pics">
                           <!--分类-->
                        </ul>
                    </div>
                    <div class="Incubator-nov-img" id="Incubator-nov-img">
                        <div id="Incubator-nov-img-box">
                            <!--<ul>-->
                                <!--<li>-->
                                    <!--<div class="Incubator-nov-img-img">-->
                                        <!--<img src="../../assets/images/img_contact_backgroundimg.png" alt="">-->
                                    <!--</div>-->
                                    <!--<div class="Incubator-nov-img-title">-->
                                        <!--<div class="Incubator-nov-img-text">-->
                                            <!--<h2>Nov.04</h2>-->
                                            <!--<p>Painting with Code Introducing our new open</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="Incubator-nov-img-img">-->
                                        <!--<img src="../../assets/images/img_contact_backgroundimg.png" alt="">-->
                                    <!--</div>-->
                                    <!--<div class="Incubator-nov-img-title">-->
                                        <!--<div class="Incubator-nov-img-text">-->
                                            <!--<h2>Nov.03</h2>-->
                                            <!--<p>Painting with Code Introducing our new open</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<ul>-->
                                <!--<li>-->
                                    <!--<div class="Incubator-nov-img-img">-->
                                        <!--<img src="../../assets/images/img_contact_backgroundimg.png" alt="">-->
                                    <!--</div>-->
                                    <!--<div class="Incubator-nov-img-title">-->
                                        <!--<div class="Incubator-nov-img-text">-->
                                            <!--<h2>Nov.02</h2>-->
                                            <!--<p>Painting with Code Introducing our new open</p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <!--<li>-->
                                    <!--<div class="Incubator-nov-img-img">-->
                                        <!--<img src="../../assets/images/img_contact_backgroundimg.png" alt="">-->
                                    <!--</div>-->
                                    <!--<div class="Incubator-nov-img-title">-->
                                        <!--<div class="Incubator-nov-img-text">-->
                                            <!--<h2>Nov.01</h2>-->
                                            <!--<p>Painting with Code Introducing our new open</p>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                <!--</li>-->
                            <!--</ul>-->
                        </div>

                        <p class="Incubator-nov-img-buttom"><a href="javascript:;" id="Incubator-nov-img-buttom">查看更多</a></p>
                    </div>
                </div>
            </div>


        </div>

        <div class="footer" id="footer"></div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#header-title-pics > li:nth-of-type(3)').addClass('active');
        $('#Incubator-content-list > ul > li').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        })

        var mySwiper = new Swiper('.swiper-container', {
            slidesPerView : 5,
            spaceBetween : 92,
        })
        var mySwiperType = new Swiper('.swiper-container-content',{
            slidesPerView : 3,
            // slidesPerGroup : 1,
            freeMode : true,
            keyboardControl : true,         // 键盘操作
        })


    })
</script>