<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>K+孵化器</title>
    <!-- build:css css/Incubator.min.css -->
    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/Incubator.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/swiper.min.css">
    <!-- endbuild -->

    <!--build:js js/Incubator.min.js -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../config/api.js"></script>
    <script src="../../components/header.js"></script>
    <script src="../../components/footer.js"></script>
    <script src="../../assets/js/swiper.min.js"></script>
    <script src="../../components/Incubator/Incubator.js"></script>
    <!-- endbuild -->
</head>
<body>
    <div class="Incubator-box">
        <div class="header active" id="header"></div>

        <div class="Incubator-content">
            <div class="formmode-content-title">
                <h2>K Plus</h2>
                <p>夸克星实验室参与共建 “科技部中技所数字科技创新研究院”</p>
                <p>创新技术+资源平台+资金平台，打造商业新英雄</p>
                <a href="javascript:;" class="formmode-content-title-submit">提交BP</a>
            </div>
            <div class="Incubator-content-list" id="Incubator-content-list">
                <ul>
                    <li class="active">
                        <div>
                            <img src="../../assets/images/icon_kplustitle_1.png" alt="">
                            <b>技术</b>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../../assets/images/icon_kplustitle_2.png" alt="">
                            <b>资金</b>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../../assets/images/icon_kplustitle_3.png" alt="">
                            <b>资源</b>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../../assets/images/icon_kplustitle_4.png" alt="">
                            <b>服务</b>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="../../assets/images/icon_kplustitle_5.png" alt="">
                            <b>导师</b>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="Incubator-logo">
                <div class="Incubator-content-list-logo">
                    <div class="swiper-container">
                        <div class="swiper-wrapper" id="Incubator-logo">
                            <!--<div class="swiper-slide">-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>技术</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>技术</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>技术</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>技术</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>技术</p>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="swiper-slide">-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>资金</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>资金</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>资金</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>资金</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>资金</p>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="swiper-slide">-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>资源</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>资源</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>资源</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>资源</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>资源</p>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="swiper-slide">-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>服务</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>服务</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>服务</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>服务</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>服务</p>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="swiper-slide">-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>导师</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>导师</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>导师</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>导师</p>-->
                                <!--</div>-->
                                <!--<div class="swiper-slide-box">-->
                                    <!--<div><img src="../../assets/images/icon_menu_logo_dark.png" alt=""></div>-->
                                    <!--<p>导师</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="Incubator-swiper">
                <div class="Incubator-content-list-swiper">
                    <div class="swiper-container-content">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_1.png" alt=""></div>
                                <p>Artificial Intelligence</p>
                                <h2>人工智能</h2>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_2.png" alt=""></div>
                                <p class="p">Intelligent Products</p>
                                <h2 class="h2">智能产品</h2>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_3.png" alt=""></div>
                                <p>Blockchain</p>
                                <h2>区块链</h2>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_4.png" alt=""></div>
                                <p>Culture</p>
                                <h2>人文科技</h2>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_5.png" alt=""></div>
                                <p>Internet of Vehicles</p>
                                <h2>车联网</h2>
                            </div>
                            <div class="swiper-slide">
                                <div><img src="../../assets/images/img_kpluscase_6.png" alt=""></div>
                                <p>Finance</p>
                                <h2>金融科技</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Incubator-nov">
                <div class="Incubator-nov-content">
                    <div class="Incubator-nov-list">
                        <ul id="Incubator-nov-list-pics">
                           <!--分类-->
                        </ul>
                    </div>
                    <div class="Incubator-nov-img" id="Incubator-nov-img">
                        <div id="Incubator-nov-img-box">
                            <!--内容-->
                        </div>

                        <p class="Incubator-nov-img-buttom"><a href="javascript:;" id="Incubator-nov-img-buttom">查看更多</a></p>
                    </div>
                </div>
            </div>


        </div>

        <div class="footer" id="footer"></div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#header-title-pics > li:nth-of-type(3)').addClass('active');
    })
</script>