@charset "utf-8";
@import "./base";
.example-box {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  @include clearfix;
}
.example-content {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  .example-title {
    max-width: 1440px;
    min-width: 1200px;
    margin: 0 auto;
    font-size: 60px;
    color: #000000;
    letter-spacing: 0;
    box-sizing: border-box;
    padding-left: 61px;
  }
  .example-banner {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 97px 0;
    .swiper-container {
      width: 100%;
      @include pos(relative);
      .swiper-wrapper {
        width: 100%;
        .swiper-slide {
          width: 100%;
          height: 600px;
          overflow: hidden;
          box-sizing: border-box;
          @include pos(relative);
          padding-right: 256px;
          img{
            display: block;
            width: 100%;
            min-height: 600px;
          }
          .swiper-txt-box {
            width: 418px;
            height: 262px;
            text-align: left;
            box-shadow: 0 16px 46px 0 rgba(0,0,0,0.04);
            @include pos();
            top: 50%;
            margin-top: -131px;
            right: 132px;
            z-index: 1;
            background: #FFFFFF;
            box-sizing: border-box;
            padding-left: 70px;
            h3{
              font-size: 40px;
              color: #000000;
              letter-spacing: 0;
              line-height: 40px;
              text-align: left;
              margin-top: 62px;
              margin-bottom: 32px;
            }
            p {
              font-size: 18px;
              color: #000000;
              letter-spacing: 0;
              line-height: 18px;
              &:nth-of-type(1) {
                opacity: 0.56;
                font-size: 22px;
                color: #000000;
                letter-spacing: 0;
                line-height: 22px;
                margin-bottom: 46px;
                font-family: 'Sansation-Regular';
              }
            }
          }
          &.active {
            h3 {
              @include pos(relative);
              &:after {
                @include afterName(100%, 110%, 400px, 0, #fff, "");
                animation: widthAuto 1s;
              }
            }
            p{
              &:nth-of-type(1) {
                @include pos(relative);
                &:after {
                  @include afterName(100%, 110%, 400px, 0, #fff, "");
                  animation: widthAuto 1.5s;
                }
              }
              &:nth-of-type(2) {
                @include pos(relative);
                &:after {
                  @include afterName(100%, 110%, 400px, 0, #fff, "");
                  animation: widthAuto 2s;
                }
              }
            }

          }
        }
      }
      .swiper-button-box {
        float: right;
        margin-right: 256px;
        margin-top: 64.2px;
        width: 100px;
        height: 30px;
        background: #fff;
        @include pos(relative);
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
          right: auto;
          top: 0;
          left: 0;
          margin: 0;
          bottom: auto;
          background: url("../images/icon_product_prev_def.png") no-repeat;
          &.swiper-button-disabled {
            background: url("../images/icon_product_prev_dis.png") no-repeat;
          }
        }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
          left: auto;
          transform: none;
          top: 0;
          right: 0;
          margin: 0;
          bottom: auto;
          background: url("../images/icon_product_next_def.png") no-repeat;
          &.swiper-button-disabled {
            background: url("../images/icon_product_next_dis.png") no-repeat;
          }
        }

      }
      .swiper-pagination {
        width: 300px;
        text-align: left;
        left: 132px;
        font-weight: bold;
        font-family: 'DIN-Medium';
        opacity: 0.32;
        font-size: 24px;
        color: #000000;
        letter-spacing: 0;
        line-height: 24px;
      }

    }

  }





  .example-list-type {
    width: 100%;
    background: #F8F8F8;
    box-sizing: border-box;
    padding-top: 100px;
    .example-list-type-box {
      width: 100%;
      max-width: 1440px;
      min-width: 1200px;
      margin: 0 auto;
      overflow: hidden;
      .example-list-type-box-childer {
        width: 100%;
        box-sizing: border-box;
        padding: 0 45px;
        @include clearfix;
        &>div {
          float: left;
          box-sizing: border-box;
        }
        .example-list-type-text {
          width: 20%;
          text-align: left;
          ul {
            width: 100%;
            margin-bottom: 40px;
            &:nth-of-type(1) {
              margin-bottom: 0;
            }
            li {
              width: 100%;
              margin-bottom: 16px;
              a {
                opacity: 0.48;
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: #000000;
                letter-spacing: 0;
                line-height: 14px;
                transition: all .5s;
              }
              a:hover {
                opacity:1;
                transition: all .5s;
              }
              &.active {
                a {
                  opacity:1;
                  transition: all .5s;
                }
              }
            }
          }
        }
        .example-list-type-iamges {
          width: 80%;
          ul {
            width: 100%;
            @include clearfix;
            li {
              float: left;
              width: 50%;
              box-sizing: border-box;
              padding-left: 86px;
              @include pos(relative);
              margin-bottom: 86px;
              overflow: hidden;
              cursor: pointer;
              &:after {
                content: "";
                @include pos();
                left: 0;
                top: 0;
                @extend %full;
                background: #f8f8f8;
              }

              &.active {
                &:after {
                  top: -100%;
                  animation: activeTop .8s;
                }

              }
              img {
                display: block;
                width: 100%;
              }
              .example-list-type-iamges-text {
                width: 204px;
                height: 130px;
                background: #fff;
                text-align: center;
                @include pos();
                top: 50%;
                margin-top: -65px;
                left: -210px;
                z-index: 1;
                overflow: hidden;
                &.active {
                  left: 46px;
                  animation: boxLeft .8s;
                }
                h3 {
                  font-family: PingFangSC-Regular;
                  font-size: 20px;
                  color: #000000;
                  letter-spacing: 0;
                  line-height: 20px;
                  text-align: center;
                  margin-top: 38px;
                  @include pos(relative);
                  &:after {
                    content: "";
                    @include pos();
                    left: 0;
                    top: 0;
                    @extend %full;
                    height: 110%;
                    background: #fff;
                    z-index: 1;
                  }
                  &.active {
                    &:after {
                      left: 100%;
                      animation: txtLeft .8s;
                    }
                  }
                }
                p{
                  font-family: PingFangSC-Regular;
                  font-size: 14px;
                  color: #000000;
                  letter-spacing: 0;
                  line-height: 14px;
                  text-align: center;
                  margin-top: 20px;
                  @include pos(relative);
                  &:after {
                    content: "";
                    @include pos();
                    left: 0;
                    top: 0;
                    @extend %full;
                    background: #fff;
                    z-index: 1;
                  }
                  &.active {
                    &:after {
                      left: 100%;
                      animation: txtLeft .8s;
                    }
                  }
                }
              }
            }
          }
          .example-list-type-buttn {
            display: block;
            width: 100%;
            text-align: center;

            padding-bottom: 80px;
            margin-top: -6px;
            a {
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #000000;
              letter-spacing: 0;
              line-height: 14px;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }











}

