
@charset "utf-8";
@import "./base";
.footer {
  width: 100%;
  height: 384px;
  background: #000000;
  padding: 0 45px;
  box-sizing: border-box;
  &>ul {
    max-width: 1440px;
    min-width: 1200px;
    margin: 0 auto;
    @include clearfix;
    @include pos(relative);
    &>li {
      float: left;
      .footer-logo {
        width: 133px;
        height: 40px;
        background: url("../images/icon_menu_logo_light.png") no-repeat;
        background-size: 100% 100%;
        margin-top: 81px;
      }
      .footer-Copyright {
        font-size: 12px;
        color: rgba(255,255,255,0.56);
        letter-spacing: 0;
        line-height: 26px;
        margin-top: 131px;
      }
      &:nth-of-type(2) {
        margin-left: 251px;
      }
      ul {
        @include clearfix;
        li {
          float: left;
          &:nth-of-type(2) {
            margin-left: 46px;
          }
          .footer-txt-let {
            font-size: 32px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 40px;
            margin-top: 80px;
            margin-bottom: 60px;
            font-family: 'Sansation-Regular';
          }
          .footer-txt-content {
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 26px;
            margin-bottom: 20px;
            &.active {
              margin-top: 180px;
              margin-left: 7px;
            }
          }
          .footer-txt-hey {
            font-family: 'Sansation-Regular';
            opacity: 0.56;
            font-size: 32px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 40px;
            margin-top: 80px;
            margin-bottom: 60px;
          }
        }
      }
      .footer-qrCode {
        width: 64px;
        height: 64px;
        background: url("../images/Bitmap.png") no-repeat;
        background-size: 100% 100%;
        @include pos();
        right: 0;
        bottom: 20px;
      }
    }
  }
}