@charset "utf-8";
@import "./base";
.formmode-box {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  @include clearfix;
}
.formmode-content {
  width: 100%;
  background: #fff;
  overflow: hidden;
  //.formmode-content-title {
  //  max-width: 1400px;
  //  min-width: 1200px;
  //  box-sizing: border-box;
  //  padding-left: 120px;
  //  margin: 0 auto;
  //  padding-top: 174px;
  //  padding-bottom: 152px;
  //  h2 {
  //    font-family: Sansation-Regular;
  //    font-size: 60px;
  //    color: #000000;
  //    letter-spacing: 0;
  //  }
  //  p {
  //    font-family: PingFangSC-Regular;
  //    font-size: 18px;
  //    color: #000000;
  //    letter-spacing: 0;
  //    line-height: 32px;
  //    margin-top: 23px;
  //  }
  //}
  .formmode-content-programme-title {
    width: 100%;
    background: #F8F8F8;
    h2 {
      max-width: 1440px;
      min-width: 1200px;
      box-sizing: border-box;
      padding: 73px 45px 79px;
      margin: 0 auto;
      font-family: PingFangSC-Medium;
      font-size: 32px;
      color: #000000;
      letter-spacing: 0;
      line-height: 32px;
      @include pos(relative);
      &:after {
        content: 'Join us';
        opacity: 0.03;
        font-family: Sansation-Bold-Italic;
        font-size: 80px;
        color: #000000;
        letter-spacing: 0;
        line-height: 80px;
        @include pos();
        top: 37px;
        left: 85px;
      }
    }
  }
  .formmode-content-programme {
    width: 100%;
    background: #000;
    .formmode-content-programme-list {
      width: 100%;
      height: 359px;
      ul {
        width: 100%;
        height: 100%;
        @include clearfix;
        li {
          float: left;
          width: 20%;
          height: 100%;
          overflow: hidden;
          box-sizing: border-box;
          padding: 59px 0 78px 50px;
          border: 1px solid;
          &:nth-of-type(1) {
            @include back_images('../images/img_features_1.png', auto, 100%);
            background-position: center top;
          }
          &:nth-of-type(2) {
            @include back_images('../images/img_features_2.png', auto, 100%);
            background-position: center top;
          }
          &:nth-of-type(3) {
            @include back_images('../images/img_features_3.png', auto, 100%);
            background-position: center top;
          }
          &:nth-of-type(4) {
            @include back_images('../images/img_features_4.png', auto, 100%);
            background-position: center top;
          }
          &:nth-of-type(5) {
            @include back_images('../images/img_features_5.png', auto, 100%);
            background-position: center top;
          }
          h2 {
            font-family: PingFangSC-Regular;
            font-size: 28px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 50px;
            font-weight: 300;
          }
          p {
            opacity: 0.66;
            font-family: Sansation-Regular;
            font-size: 22px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 34px;
            &:nth-of-type(1) {
              margin-top: 54px;
              font-weight: 300;
            }

          }
        }
      }
    }
    .formmode-content-programme-boject {
      max-width: 1440px;
      min-width: 1200px;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 121px 45px;
      ul {
        width: 100%;
        @include clearfix;
        li {
          float: left;
          width: 33.3%;
          box-sizing: border-box;
          div {
            @include clearfix;
            width: 270px;
            margin: 0 auto;
            i {
              display: block;
              width: 62px;
              height: 78.2px;
              float: left;
            }
            p {
              font-family: PingFangSC-Medium;
              font-size: 24.27px;
              color: #FFFFFF;
              letter-spacing: 0;
              text-align: center;
              line-height: 24.27px;
              float: left;
              margin-left: 47.2px;
              margin-top: 30px;

            }
          }
          &:nth-of-type(1) {
            margin-bottom: 100px;
            i {
              @include back_images('../images/img_position_1.png', 100%, 100%)
            }
          }
          &:nth-of-type(2) {
            margin-bottom: 100px;
            i {
              @include back_images('../images/img_position_2.png', 100%, 100%)
            }
          }
          &:nth-of-type(3) {
            margin-bottom: 100px;
            i {
              @include back_images('../images/img_position_3.png', 100%, 100%)
            }
          }
          &:nth-of-type(4) {
            i {
              @include back_images('../images/img_position_4.png', 100%, 100%)
            }
          }
          &:nth-of-type(5) {
            i {
              @include back_images('../images/img_position_5.png', 100%, 100%)
            }
          }
          &:nth-of-type(6) {
            i {
              @include back_images('../images/img_position_6.png', 100%, 100%)
            }
          }
        }
      }
    }
    &:nth-of-type(3) {
      .formmode-content-programme-title {
        h2{
          &:after {
            content: 'K+ incubator';
          }
        }
      }
      .formmode-content-programme-list {
        li {
          &:nth-of-type(1) {
            @include back_images('../images/img_incubator_1.png', 100%, auto);
            background-position: center top;
          }
          &:nth-of-type(2) {
            @include back_images('../images/img_incubator_2.png', 100%, auto);
            background-position: center top;
          }
          &:nth-of-type(3) {
            @include back_images('../images/img_incubator_3.png', 100%, auto);
            background-position: center top;
          }
          &:nth-of-type(4) {
            @include back_images('../images/img_incubator_4.png', 100%, auto);
            background-position: center top;
          }
          &:nth-of-type(5) {
            @include back_images('../images/img_incubator_5.png', 100%, auto);
            background-position: center top;
          }
        }
      }

    }
  }

  .formmode-content-joinus {
    width: 100%;
    .formmode-content-joinus-texy {
      width: 100%;
      background: #000;
      box-sizing: border-box;
      padding: 80px 0;
      .formmode-content-joinus-list {
        @include max_min;
        ul {
          width: 100%;
          @include clearfix;
          li {
            float: left;
            margin-right: 56px;
            a {
              opacity: 0.56;
              font-family: PingFangSC-Regular;
              font-size: 18px;
              color: #FFFFFF;
              letter-spacing: 0;
              line-height: 18px;
              font-weight: 100;
              transition: all .5s;
            }
            a:hover {
              opacity: 1;
              transition: all .5s;
            }
            &.active {
              a {
                opacity: 1;
              }
            }
          }
        }
      }
      .formmode-content-joinus-content {
        @include max_min;
        ul {
          width: 100%;
          @include clearfix;
          li {
            width: 50%;
            float: left;
            box-sizing: border-box;
            &:nth-of-type(odd) {
                padding-right: 82px;
            }
            &:nth-of-type(even) {
              padding-left: 82px;
            }
            h3 {
              font-weight: inherit;
              font-family: PingFangSC-Regular;
              font-size: 32px;
              color: #FFFFFF;
              letter-spacing: 0;
              line-height: 32px;
              margin-top: 64px;
            }
            span {
              display: block;
              font-weight: inherit;
              opacity: 0.56;
              font-family: PingFangSC-Regular;
              font-size: 18px;
              color: #FFFFFF;
              letter-spacing: 0;
              line-height: 18px;
              margin-top: 24px;
            }
            p {
              font-weight: inherit;
              opacity: 0.8;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #FFFFFF;
              letter-spacing: 0;
              line-height: 32px;
              &:nth-of-type(1) {
                margin-top: 32px;
              }
            }
          }
        }
        .formmode-content-joinus-content-button {
          width: 100%;
          text-align: left;
          padding-top: 64px;
          padding-bottom: 80px;
          a {
            opacity: 0.56;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 14px;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }


      .formmode-content-Map {
        width: 100%;
        @include pos(relative);
        .formmode-content-Map-white {
          width: 100%;
          height: 100px;
          background: #fff;
        }
        .formmode-content-Map-white-bottom{
          width: 100%;
          height: 446px;
          background: #fff;
        }
        .formmode-content-Map-back {
          overflow: hidden;
          width: 100%;
          height: 1004px;
          @include back_images("../images/img_contact_backgroundimg.png", 100%, auto)
        }
        .formmode-content-Map-contact {
          @include pos();
          left: 0;
          right: 0;
          margin: auto;
          top: 220px;
          width: 1004px;
          height: 578px;
          background: #fff;
          box-sizing: border-box;
          padding: 120px 160px;
          ul {
            width: 100%;
            @include clearfix;
            li {
              float: left;
              width: 50%;
              @include clearfix;
              margin-top: 63px;
              box-sizing: border-box;
              &:nth-of-type(1) {
                margin-top: 0;
              }
              &:nth-of-type(2) {
                margin-top: 0;
              }
              p {
                font-family: PingFangSC-Regular;
                font-size: 18px;
                color: #000000;
                letter-spacing: 0;
                line-height: 18px;
                font-weight: inherit;
              }
              span {
                display: block;
                opacity: 0.32;
                font-family: Sansation-Regular;
                font-size: 32px;
                color: #000000;
                letter-spacing: 0;
                line-height: 32px;
                margin-top: 21px;
              }
              a {
                @include clearfix;

                  font-family: Sansation-Regular;
                  font-size: 32px;
                  color: #000000;
                  letter-spacing: 0;
                  line-height: 32px;
                  float: left;
                  font-weight: inherit;
                  margin-top: 39px;
                i {
                  float: right;
                  display: block;
                  width: 23px;
                  height: 10px;
                  @include back_images("../images/icon_homepage_more.png", 100%, 100%);
                  margin-top: 10px;
                  margin-left: 10px;
                }
              }
              a:hover {
                text-decoration: underline;
              }

            }
          }
        }
        .formmode-content-Map-position {
          @include pos();
          left: 0;
          right: 0;
          bottom: 80px;
          margin: auto;
          width: 100%;
          &>div {
            @include max_min;
            width: 95%;
            height: 552px;
            @include back_images("../images/img_address_bg.png", 100%, auto);
            @include pos(relative);
            &>div {
              width: 250px;
              height: 150px;
              border-radius: 20px;
              background: #fff;
              box-sizing: border-box;
              padding: 10px 20px;
              @include pos();
              left: 100px;
              right: 0;
              bottom: 100px;
              top: 0;
              margin: auto;
              span {
                display: block;
                opacity: 0.32;
                font-family: Sansation-Regular;
                font-size: 20px;
                color: #000000;
                letter-spacing: 0;
                line-height: 32px;
                margin-top: 21px;
              }
              p {
                margin-top: 8px;
                font-size: 16px;
                color: #000000;
                letter-spacing: 0;
                line-height: 30px;
                font-weight: inherit;
              }
              i {
                display:block;
                width:0;
                height:0;
                border-width:10px 10px 10px 0;
                border-style:solid;
                border-color:transparent #fff transparent transparent;/*透明 黄 透明 透明 */
                position:absolute;
                top:0px;
                bottom: 0;
                margin: auto;
                left:-10px;
              }
              b {
                @include pos();
                top:0;
                bottom: 0;
                margin: auto;
                left:-40px;
                width: 20px;
                height: 28px;
                @include back_images("../images/icon_address.png", 100%, 100%);
              }
            }
          }
        }

      }






    }
  }
}



.delighter {
  transition: all .3s ease-out;
  transform: translateX(-100%);
  opacity: 0;
  &.started {
    transform: none;
    opacity: 1;
    transition: all .5s ease-out;
    &.ended {

    }
  }
}


@media all and (max-width: 1280px) {
  .formmode-content {
    .formmode-content-programme:nth-of-type(3) {
      .formmode-content-programme-list {
        ul {
          li {
            &:nth-of-type(1) {
              @include back_images('../images/img_incubator_1.png', auto, 100%);
              background-position: center top;
            }
            &:nth-of-type(2) {
              @include back_images('../images/img_incubator_2.png', auto, 100%);
              background-position: center top;
            }
            &:nth-of-type(3) {
              @include back_images('../images/img_incubator_3.png', auto, 100%);
              background-position: center top;
            }
            &:nth-of-type(4) {
              @include back_images('../images/img_incubator_4.png', auto, 100%);
              background-position: center top;
            }
            &:nth-of-type(5) {
              @include back_images('../images/img_incubator_5.png', auto, 100%);
              background-position: center top;
            }
          }
        }

      }
    }
  }
}