@charset "utf-8";
@import "./base";
.home-box {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  @include clearfix;
}
.home-view-content {
  width: 100%;
  @include pos(relative);
  overflow: hidden;
}
.home-content {
  width: 100%;
  @include pos(relative);
  @include clearfix;
  .home-content-background {
    //@include pos();
    //left: 0;
    //top: 0;
    width: 100%;
    height: 737px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      animation:maxismin 50s linear forwards;
    }
  }
  .home-banner-box {
    width: 100%;
    padding: 0 45px;
    @include pos();
    left: 0;
    bottom: 200px;
    box-sizing: border-box;
    .home-banner {
      max-width: 1440px;
      min-width: 1200px;
      @include pos(relative);
      margin: 0 auto;
      .home-view {
        //@include pos();
        //bottom: 200px;
        //left: 234px;
        //animation: myright 2s;
        .home-title {
          width: 500px;
          overflow: hidden;
          box-sizing: border-box;
          height: 89px;
          color: #fff;
          font-weight: bold;
          font-size: 80px;
          @include pos(relative);
          animation: mywidth 1s;
          &:after {
            content: '';
            width: 500px;
            height: 100%;
            background: aqua;
            @include pos();
            left: 500px;
            top: 0;
            animation: myantion 2s;
          }
        }
        .home-text {
          margin-top: 74px;
          width: 400px;
          height: 100px;
          background: url("../images/img_homeheader_title.png");
          background-repeat: no-repeat;
          background-size: 100% auto;
          overflow: hidden;
          animation: mywidth1 1s;
          @include pos(relative);
          &:after {
            content: '';
            width: 400px;
            height: 100%;
            background: aqua;
            @include pos();
            left: 500px;
            top: 0;
            animation: myantion1 2s;
          }
        }
      }
      .home-right {
        @include pos();
        right: 0;
        bottom: 0;
        color: #fff;
        animation: myleft 2s;
        i {
          display: inline-block;
          width: 25px;
          height: 8px;
          background: url("../images/icon_header_enter.png") no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }

}
.home-list {
  opacity: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 0 156px;
  .home-list-pase {
    width: 100%;
    max-width: 1440px;
    min-width: 1200px;
    margin: 0 auto;
    @include clearfix;
    &>li {
      float: left;
      width: 33.3%;
      @include pos(relative);
      .home-list-img {
        width: 384px;
        height: 180px;
        margin: 0 auto;
        @include pos(relative);
        .get_cope {
          @include pos();
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(0,0,0,.3);
          z-index: 1;
          transition: all .3s;
          cursor: pointer;
        }
        .get_cope:hover {
          opacity: 0;
          transition: all .3s;
        }
        .home-list-pics {
          width: 100%;
          height: 100%;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
          }
        }
        .home-list-txt {
          width: 324px;
          height: 112px;
          @include pos();
          top: 139px;
          right: 0;
          background: #fff;
          z-index: 2;
          ul {
            width: 100%;
            height: 100%;
            @include clearfix;
            li {
              float: left;
              margin-top: 24px;
              p{
                font-weight: 400;
              }
              &:nth-of-type(1) {
                width: 32px;
                margin-left: 32px;
                p{
                  font-size: 24px;
                  color: rgba(173,173,173,1);
                  line-height: 32px;
                }
              }
              &:nth-of-type(2) {
                width: 196px;
                margin-left: 31px;
                p{
                  font-size: 14px;
                  color: #000000;
                  line-height: 32px;
                }
              }

            }
          }
        }
      }
    }
  }
}
.home-type {
  width: 100%;
  ul {
    width: 100%;
    li {
      width: 100%;
      @include pos(relative);
      .home-antion-left {
        @include pos();
        left: -100%;
        top: 0;
        width: 200%;
        height: 100%;
        @include clearfix;
        &>div {
          width: 50%;
          height: 100%;
          float: left;
          &:nth-of-type(1) {
            background: #000000;
          }
          &:nth-of-type(2) {
            background: #fff;
          }
        }
      }
      .home-type-img {
        width: 100%;
        min-width: 1200px;
        height: 700px;
        overflow: hidden;
        @include pos(relative);
        img {
          transition: all .5s;
          display: block;
          width: 100%;
        }
      }
      .home-type-img:hover {
       img {
         transform: scale(1.1);
         transition: all .5s;
       }
      }
      .home-type-txt {
        width: 472px;
        height: 359px;
        background: #fff;
        @include pos();
        //left: 132px;
        left: -472px;
        top: 100px;
        box-sizing: border-box;
        padding-left: 60px;
        z-index: 2;
        h3{
          font-size: 80px;
          color: #103DEF;
          line-height: 80px;
          margin-top: 36px;
        }
        p {
          opacity: 0.56;
          font-size: 22px;
          color: #000000;
          letter-spacing: 0;
          line-height: 34px;
          white-space: nowrap;
          overflow: hidden;
          @include pos(relative);
          &:nth-of-type(1) {
            opacity: 1;
            font-size: 32px;
            color: #000000;
            letter-spacing: 0;
            line-height: 32px;
            margin-top: 53px;
            margin-bottom: 32px;

            @include pos(relative);
            width: 0;
            &.active {
              width: 290px;
              animation: mywidth2 1s;
              &:after {
                content: '';
                width: 100%;
                height: 100%;
                background: saddlebrown;
                @include pos();
                left: 300px;
                top: 0;
                animation: myantion 2s;
              }
            }

          }
          &:nth-of-type(2) {
            width: 0px;
            &.active {
              width: 250px;
              animation: mywidth2 1s;
              &:after {
                content: '';
                width: 100%;
                height: 100%;
                background: saddlebrown;
                @include pos();
                left: 300px;
                top: 0;
                animation: myantion 2s;
              }
            }
          }
          &:nth-of-type(3) {
            width: 0px;
            &.active {
              width: 250px;
              animation: mywidth2 1s;
              &:after {
                content: '';
                width: 100%;
                height: 100%;
                background: saddlebrown;
                @include pos();
                left: 300px;
                top: 0;
                animation: myantion 2s;
              }
            }
          }

        }
      }
    }
  }
}
.home-cooperation {
  width: 100%;
  padding: 48px 45px;
  box-sizing: border-box;
  &>div {
    min-width: 1200px;
    max-width: 1440px;
    height: 172px;
    margin: 0 auto;
    border-radius: 14px;
    background: #000000;
    ul {
      width: 100%;
      height: 100%;
      @include pos(relative);
      li {
        height: 100%;
        line-height: 172px;
        color: #fff;
        span {
          font-size: 40px;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 32px;
        }
        a {
          display: block;
          width: 148px;
          height: 56px;
          background: #103DFF;
          font-size: 20px;
          color: #FFFFFF;
          letter-spacing: 0;
          text-align: right;
          line-height: 20px;
          margin-top: 48px;
          text-align: center;
          line-height: 48px;
        }
      }
      .home-cooperation-name {
        @include pos();
        left: -320px;
      }
      .home-cooperation-btn {
        @include pos();
        right: -320px;
      }
    }
  }
}