@charset "utf-8";
@import "./base";
.home-box {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  @include clearfix;
}
.home-view-content {
  width: 100%;
  @include pos(relative);
  overflow: hidden;
}
.home-content {
  width: 100%;
  @include pos(relative);
  @include clearfix;
  .home-content-background {
    //@include pos();
    //left: 0;
    //top: 0;
    width: 100%;
    height: 737px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      animation:maxismin 50s linear forwards;
    }
  }
  .home-banner-box {
    width: 100%;
    //padding: 0 45px;
    //padding-left: 350px;
    //padding-right: 450px;
    //padding-bottom: 100px;
    @include pos();
    left: 0;
    bottom: 200px;
    box-sizing: border-box;
    .home-banner {
      max-width: 1440px;
      min-width: 1200px;
      @include pos(relative);
      margin: 0 auto;
      padding: 0 120px;
      box-sizing: border-box;
      .home-view {
        //@include pos();
        //bottom: 200px;
        //left: 234px;
        //animation: myright 2s;
        .home-title {
          width: 800px;
          overflow: hidden;
          box-sizing: border-box;
          height: 184px;
          color: #fff;
          font-family: Sansation-Regular;
          font-size: 60px;
          color: #fff;
          letter-spacing: 0;
          @include pos(relative);
          //animation: mywidth 5s;
          //transform:rotateX(90deg);
          //-webkit-transform:rotateX(120deg);
          span{
            display: inline-block;
            //transform:rotateX(180deg);
            transform:skew(-30deg, 0);
            opacity: 0;
            height: 84px;
            box-sizing: border-box;
            padding-top: 84px;
            padding-left: 20px;
            overflow: hidden;
            //transform: matrix(0, 0, 0, 0, 0, 0);
            transform-style: preserve-3d;
            font-family: 'Sansation-Regular';
            &.active {
              padding-left: 0px;
              opacity: 1;
              transform:skew(0, 0);
              padding-top: 0;
              transition: all 1s;
              //transform: matrix(1, 0, 0, 1, 0, 0);
            //  //transform:rotateX(0deg);
            //  animation: mywidth 2s;
            }
          }
          //&:after {
          //  content: '';
          //  width: 800px;
          //  height: 100%;
          //  background: #000;
          //  @include pos();
          //  left: 800px;
          //  top: 0;
          //  //animation: myantion 1.2s;
          //}
        }
        .home-text {
          margin-top: 74px;
          width: 430px;
          height: 100px;
          //background: url("../images/img_homeheader_title.png");
          //background-repeat: no-repeat;
          //background-size: 100% auto;
          overflow: hidden;
          span {
            display: inline-block;
            height: 40px;
            color: #fff;
            font-size: 28px;
            transform:skew(-10deg, 0);
            overflow: hidden;
            box-sizing: border-box;
            padding-top: 50px;
            opacity: 0;
            &:nth-of-type(2) {
              margin-left: 20px;
            }
            &:nth-of-type(14) {
              margin-left: 40px;
            }
            &.active {
              opacity: 1;
              padding-top: 0px;
              transform:skew(-5deg, 0);
              transition: all .8s;
            }
          }
          //animation: mywidth1 1s;
          //@include pos(relative);
          //&:after {
          //  content: '';
          //  width: 400px;
          //  height: 100%;
          //  background: #000;
          //  @include pos();
          //  left: 500px;
          //  top: 0;
          //  animation: myantion1 1.2s;
          //}
        }
      }
      .home-right {
        @include pos();
        right: 200px;
        bottom: 0;
        color: #fff;
        animation: myleft 2s;
        i {
          display: inline-block;
          width: 25px;
          height: 8px;
          @include back_images("../images/icon_header_enter.png", 100%, 100%)
        }
      }
    }
  }

}
.home-list {
  opacity: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 0 156px;
  .home-list-pase {
    width: 100%;
    max-width: 1440px;
    min-width: 1200px;
    margin: 0 auto;
    @include clearfix;
    &>li {
      float: left;
      width: 33.3%;
      @include pos(relative);
      .home-list-img {
        width: 384px;
        height: 180px;
        margin: 0 auto;
        @include pos(relative);
        .get_cope {
          @include pos();
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(0,0,0,.3);
          z-index: 1;
          transition: all .3s;
          cursor: pointer;
        }
        .get_cope:hover {
          opacity: 0;
          transition: all .3s;
        }
        .home-list-pics {
          width: 100%;
          height: 100%;
          overflow: hidden;
          img {
            display: block;
            width: 100%;
          }
        }
        .home-list-txt {
          width: 324px;
          height: 112px;
          @include pos();
          top: 139px;
          right: 0;
          background: #fff;
          z-index: 2;
          ul {
            width: 100%;
            height: 100%;
            @include clearfix;
            li {
              float: left;
              margin-top: 24px;
              p{
                font-weight: 400;
              }
              &:nth-of-type(1) {
                width: 32px;
                margin-left: 32px;
                p{
                  font-size: 24px;
                  color: rgba(173,173,173,1);
                  line-height: 32px;
                }
              }
              &:nth-of-type(2) {
                width: 196px;
                margin-left: 31px;
                p{
                  font-size: 14px;
                  color: #000000;
                  line-height: 32px;
                  span {
                    display: inline-block;
                    height: 23px;
                    margin-left: -5px;
                    overflow: hidden;
                    opacity: 0;
                    transform: skew(-30deg, 0);
                    &.active {
                      opacity: 1;
                      transform: skew(0, 0);
                      transition: all .8s;
                    }
                  }
                }
              }

            }
          }
        }
      }
    }
  }
}
.home-type {
  width: 100%;
  ul {
    width: 100%;
    li {
      width: 100%;
      @include pos(relative);
      .home-antion-left {
        @include pos();
        left: -100%;
        top: 0;
        width: 200%;
        height: 100%;
        @include clearfix;
        &>div {
          width: 50%;
          height: 100%;
          float: left;
          &:nth-of-type(1) {
            background: #000000;
          }
          &:nth-of-type(2) {
            background: #fff;
          }
        }
      }
      .home-type-img {
        width: 100%;
        min-width: 1200px;
        height: 800px;
        overflow: hidden;
        @include pos(relative);
        img {
          transition: all .5s;
          display: block;
          width: 100%;
          min-height: 800px;
        }
      }
      .home-type-img:hover {
       img {
         transform: scale(1.1);
         transition: all .5s;
       }
      }
      .home-type-txt {
        width: 472px;
        height: 359px;
        background: #fff;
        @include pos();
        //left: 132px;
        left: -472px;
        top: 100px;
        box-sizing: border-box;
        padding-left: 60px;
        z-index: 2;
        h3{
          font-size: 80px;
          color: #103DEF;
          line-height: 80px;
          margin-top: 36px;
          font-family: 'DIN-Medium';
        }
        p {
          opacity: 0.56;
          overflow: hidden;
          word-break: break-word;
          span {
            display: inline-block;
            line-height: 34px;
            font-size: 32px;
            margin-left: -8px;
            color: #000000;
            letter-spacing: 0;
            height: 34px;
            box-sizing: border-box;
            overflow: hidden;

            padding-top: 34px;
            opacity: 0;
            transform:skew(-30deg, 0);
            &:first-child {
              margin-left: 0;
            }
            &.active {
              padding-top: 0;
              opacity: 1;
              transform:skew(0, 0);
              transition: all 1s;
            }
          }
          &:nth-of-type(1) {
            width: 380px;
            opacity: 1;
            font-size: 32px;
            color: #000000;
            letter-spacing: 0;
            line-height: 32px;
            margin-top: 53px;
            margin-bottom: 32px;
            @include pos(relative);
            &.active {
              //animation: mywidth2 1s;
              //&:after {
              //  content: '';
              //  width: 100%;
              //  height: 100%;
              //  background: #fff;
              //  @include pos();
              //  left: 400px;
              //  top: 0;
              //  animation: myantion 1s;
              //}
            }

          }
          &:nth-of-type(2) {
            width: 300px;
            span {
              font-size: 22px;
              margin-left: 5px;
              font-family: 'Sansation-Regular';
              &:first-child {
                margin-left: 0;
              }
              &:nth-of-type(4) {
                margin-left: 0;
              }
            }
            &.active {

              //animation: mywidth2 1s;
            //  &:after {
            //    content: '';
            //    width: 100%;
            //    height: 100%;
            //    background: #fff;
            //    @include pos();
            //    left: 300px;
            //    top: 0;
            //    animation: myantion 1s;
            //  }
            }
          }
          //&:nth-of-type(3) {
          //  width: 0px;
          //  &.active {
          //    width: 300px;
          //    animation: mywidth2 1s;
          //    &:after {
          //      content: '';
          //      width: 100%;
          //      height: 100%;
          //      background: #fff;
          //      @include pos();
          //      left: 300px;
          //      top: 0;
          //      animation: myantion 1s;
          //    }
          //  }
          //}


        }
      }
    }
  }
}
.home-cooperation {
  width: 100%;
  padding: 48px 45px;
  box-sizing: border-box;
  &>div {
    min-width: 1200px;
    max-width: 1440px;
    height: 172px;
    margin: 0 auto;
    border-radius: 14px;
    background: #000000;
    ul {
      width: 100%;
      height: 100%;
      @include pos(relative);
      li {
        height: 100%;
        line-height: 172px;
        color: #fff;
        span {
          font-size: 40px;
          color: #FFFFFF;
          letter-spacing: 0;
          line-height: 32px;
        }
        a {
          display: block;
          width: 148px;
          height: 56px;
          background: #103DFF;
          font-size: 20px;
          color: #FFFFFF;
          letter-spacing: 0;
          text-align: right;
          line-height: 20px;
          margin-top: 48px;
          text-align: center;
          line-height: 48px;
          transform:skew(-5deg, 0);
        }
      }
      .home-cooperation-name {
        @include pos();
        left: -320px;
        span {
          font-family: 'Sansation-Regular';
        }
      }
      .home-cooperation-btn {
        @include pos();
        right: -400px;
      }
    }
  }
}
