@charset "utf-8";
@import "./base";
.Incubator-box {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  @include clearfix;
}
.Incubator-content {
  overflow: hidden;
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  .formmode-content-title {
    @include pos(relative)
  }
  .formmode-content-title-submit {
    display: block;
    width: 120px;
    height: 50px;
    background: #103DFF;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 300;
    @include pos();
    z-index: 2;
    right: 200px;
    bottom: 0;
    top: 100px;
    margin: auto;
    animation: myleft 2s;
    transform: skew(-10deg, 0);
  }
  .Incubator-content-list {
    width: 100%;
    height: 400px;
    background: #000;
    ul {
      @extend %full;
      @include clearfix;
      li {
        float: left;
        width: 20%;
        height: 100%;
        box-sizing: border-box;
        padding-top: 70px;
        //padding-left: 56px;
        background-image: linear-gradient(-70deg, #000000 0%, #292929 100%);
        @include pos(relative);
        cursor: pointer;
        text-align: center;
        &.active {
          &:after {
            z-index: 1;
            content: '';
            width:0;
            height:0;
            border-width:0 15px 15px;
            border-style:solid;
            border-color:transparent transparent  #F8F8F8;/*透明 透明  灰*/
            margin:40px auto;
            @include pos();
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        div {
          display: inline-block;
          height: 38px;
          margin: 0 auto;
          img {
            display: block;
            height: 100%;
            margin: 0 auto;
          }
          b {
            display: block;
            opacity: 0.64;
            font-family: PingFangSC-Regular;
            font-size: 24px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 24px;
            margin-top: 32px;
            font-weight: 400;
            text-align: left;
          }
        }
        //span {
        //  display: block;
        //  height: 38px;
        //}
        //&:nth-of-type(1) {
        //  span {
        //    @include back_images("../images/icon_kplustitle_1.png", auto, 100%)
        //  }
        //}
        //&:nth-of-type(2) {
        //  span {
        //    @include back_images("../images/icon_kplustitle_2.png", auto, 100%)
        //  }
        //}
        //&:nth-of-type(3) {
        //  span {
        //    @include back_images("../images/icon_kplustitle_3.png", auto, 100%)
        //  }
        //}
        //&:nth-of-type(4) {
        //  span {
        //    @include back_images("../images/icon_kplustitle_4.png", auto, 100%)
        //  }
        //}
        //&:nth-of-type(5) {
        //  span {
        //    @include back_images("../images/icon_kplustitle_5.png", auto, 100%)
        //  }
        //}
        //h2 {
        //  opacity: 0.64;
        //  font-family: PingFangSC-Regular;
        //  font-size: 24px;
        //  color: #FFFFFF;
        //  letter-spacing: 0;
        //  line-height: 24px;
        //  margin-top: 32px;
        //  font-weight: 400;
        //}
      }
    }
  }
  .Incubator-logo {
    width: 100%;
    box-sizing: border-box;
    background: #F8F8F8;
    .Incubator-content-list-logo {
      max-width: 1440px;
      min-width: 1200px;
      box-sizing: border-box;
      padding: 100px 45px;
      margin: 0 auto;
      .swiper-container {
        width: 100%;
        .swiper-wrapper {
          width: 100%;
          .swiper-slide {
            width: 100%;
            &>div {
              width: 162px;
              height: 84px;
              margin: 0 auto;
              background: #fff;
              @include pos(relative);
              img {
                display: block;
                width: 113px;
                @include pos();
                left: 0;
                bottom: 0;
                right: 0;
                top: 0;
                margin: auto;
              }
            }
            p {
              text-align: center;
              opacity: 0.56;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #000000;
              letter-spacing: 0;
              text-align: center;
              line-height: 14px;
              text-align: center;
              margin-top: 24px;
            }
          }
        }
      }
    }
  }
  .Incubator-swiper {
    overflow: hidden;
    width: 100%;
    background: #000;
    padding: 100px 0;
    .Incubator-content-list-swiper {
      max-width: 1440px;
      min-width: 1200px;
      padding: 0 45px;
      margin: 0 auto;
      .swiper-container-content {
        width: 100%;
        .swiper-wrapper {
          width: 100%;
          .swiper-slide {
            width: 100%;
            @include pos(relative);
            & > div {
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              padding-right: 120px;
              img {
                display: block;
                width: 100%;
              }
            }
            p {
              opacity: 0.56;
              font-family: Sansation-Regular;
              font-size: 32px;
              color: #FFFFFF;
              letter-spacing: 0;
              line-height: 32px;
              @include pos();
              left: -40px;
              top: 80px;
              z-index: 1;
            }
            h2 {
              font-family: PingFangSC-Regular;
              font-size: 32px;
              color: #FFFFFF;
              letter-spacing: 0;
              line-height: 40px;
              @include pos();
              left: -40px;
              top: 140px;
              z-index: 1;
            }

          }
        }
      }
    }

  }
  .Incubator-nov {
    width: 100%;
    background: rgba(255,255,255,1);
    .Incubator-nov-content {
      max-width: 1440px;
      min-width: 1200px;
      margin: 0 auto;
      padding: 80px 45px;
      .Incubator-nov-list {
        width: 100%;
        ul {
          width: 100%;
          @include clearfix;
          margin-bottom: 48px;
          li {
            float: left;
            margin-right: 40px;
            a {
              opacity: 0.48;
              font-family: PingFangSC-Regular;
              font-size: 14px;
              color: #000000;
              letter-spacing: 0;
              line-height: 14px;
            }
            a:hover {
              opacity: 1;
            }
            &.active {
              a {
                opacity: 1;
              }
            }
          }
        }
      }
      .Incubator-nov-img {
        width: 100%;
        ul {
          width: 100%;
          @include clearfix;
          li {
            margin-bottom: 158px;
            height: 310px;
            float: left;
            @include pos(relative);
            box-sizing: border-box;
            cursor: pointer;
            &:nth-of-type(odd) {
              width: 40%;
            }
            &:nth-of-type(even) {
              width: 60%;
              padding-left: 72px;
              .Incubator-nov-img-title {
                //width: calc(100% - 72px);
                padding-right: 96px;
              }
            }
            .Incubator-nov-img-img {
              @extend %full;
              overflow: hidden;
              @include pos(relative);
              &:after {
                content: "";
                @include pos();
                left: 0;
                top: 0;
                @extend %full;
                background: #fff;
              }
              &.active {
                &:after {
                  left: 100%;
                  animation: backLeft .8s;
                }
              }
              img{
                display: block;

                width: 100%;
              }
            }
            .Incubator-nov-img-title {
              width: 100%;
              @include pos();
              bottom: -86px;
              z-index: 1;
              box-sizing: border-box;
              padding: 0 24px;
              .Incubator-nov-img-text {
                width: 100%;
                height: 130px;
                background: #FFFFFF;
                box-shadow: 0 16px 46px 0 rgba(0,0,0,0.04);
                padding-left: 24px;
                padding-top: 32px;
                box-sizing: border-box;
                overflow: hidden;
                h2 {
                  opacity: 0.32;
                  font-family: Sansation-Regular;
                  font-size: 24px;
                  color: #000000;
                  letter-spacing: 0;
                  line-height: 24px;
                  @include pos(relative);
                  &.active {
                    &:after {
                      left: 100%;
                      animation: backLeft 1s;
                    }
                  }
                  &:after {
                    content: "";
                    @include pos();
                    left: 0;
                    top: 0;
                    @extend %full;
                    height: 110%;
                    background: #fff;
                  }
                }
                div {
                  font-family: Sansation-Regular;
                  font-size: 14px;
                  color: #000000;
                  letter-spacing: 0;
                  line-height: 14px;
                  margin-top: 18px;
                  @include pos(relative);
                  &.active {
                    &:after {
                      left: 100%;
                      animation: backLeft 1s;
                    }
                  }
                  &:after {
                    content: "";
                    @include pos();
                    left: 0;
                    top: 0;
                    @extend %full;
                    height: 110%;
                    background: #fff;
                  }
                }
              }
            }
          }
          &:nth-of-type(even) {
            li {
              &:nth-of-type(odd) {
                width: 60%;
                padding-right: 72px;
                .Incubator-nov-img-title {
                  //width: calc(100% - 72px);
                  padding-right: 96px;
                }
              }
              &:nth-of-type(even) {
                width: 40%;
                padding-left: 0;
              }
            }
          }
        }
        .Incubator-nov-img-buttom {
          width: 100%;
          text-align: center;
          a {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #000000;
            letter-spacing: 0;
            line-height: 14px;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}