@charset "utf-8";
@import "./base";
%full{
  width: 100%;
  height: 100%;
}
html,body,.box{
  @extend %full;
  margin: 0 auto;
  min-width: 1200px;
  @include pos(relative);
}

.start-background {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  background: url("../images/img_coverpage_backgroundimg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation:maxismin 50s linear forwards;
  @include pos();
  left: 0;
  top: 0;
}
.start-title {
  @include pos();
  transform: translateX(234px);
  animation: myfirst 5s;
  .k2-star {
    box-sizing: border-box;
    margin-top: 181px;
    //width: 245px;
    height: 89px;
    color: #fff;
    font-weight: bold;
    font-size: 80px;
    //background: url("../images/img_homepage_title.png");
    //background-repeat: no-repeat;
    //background-size: 100% 100%;
  }
  .star-text {
    margin-top: 74px;
    width: 400px;
    height: 100px;
    background: url("../images/img_homepage_title.png");
    background-repeat: no-repeat;
    background-size: 100% auto;

  }
  .start-btn {
    width: 148px;
    height: 56px;
    margin-top: 111px;
    background: #103DFF;
    text-align: center;
    line-height: 56px;
    a{
      color: #fff;
    }
  }
}