@charset "utf-8";
@import "./base";
%full{
  width: 100%;
  height: 100%;
}
html,body,.box{
  @extend %full;
  margin: 0 auto;
  min-width: 1200px;
  @include pos(relative);
}
.box {
  overflow: hidden;
}

.start-background {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  box-sizing: border-box;
  background: url("../images/img_coverpage_backgroundimg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation:maxismin 50s linear forwards;
  @include pos();
  left: 0;
  top: 0;
}
.start-title {
  @include pos();
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 450px;
  transform: translateX(234px);
  //animation: myfirst 5s;
  .k2-star {
    box-sizing: border-box;
    //margin-top: 181px;
    //width: 245px;
    height: 89px;
    color: #fff;
    font-weight: bold;
    font-size: 80px;
    span {
      display: inline-block;
      height: 112px;
      opacity: 0;
      padding-top: 112px;
      box-sizing: border-box;
      transform:skew(-30deg, 0);
      overflow: hidden;
      &.active {
        padding-top: 0;
        opacity: 1;
        transform:skew(0, 0);
        transition: all 1s;
      }
    }
    //background: url("../images/img_homepage_title.png");
    //background-repeat: no-repeat;
    //background-size: 100% 100%;
  }
  .star-text {
    margin-top: 74px;
    width: 400px;
    height: 100px;
    span {
      display: inline-block;
      color: #fff;
      font-size: 36px;
      height: 50px;
      opacity: 0;
      padding-top: 50px;
      box-sizing: border-box;
      transform:skew(-30deg, 0);
      overflow: hidden;
      &.active {
        padding-top: 0;
        opacity: 1;
        transform:skew(0, 0);
        transition: all 1s;
      }
    }
    //background: url("../images/img_homepage_title.png");
    //background-repeat: no-repeat;
    //background-size: 100% auto;

  }
  .start-btn {
    width: 148px;
    height: 56px;
    margin-top: 111px;
    background: #103DFF;
    text-align: center;
    line-height: 56px;
    transform:skew(-30deg, 0);
    opacity: 0;
    a{
      color: #fff;
    }
    &.active {
      transform:skew(-10deg, 0);
      opacity: 1;
      transition: all 1s;
    }
  }
}