<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我们</title>
    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/aboutUs.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../config/api.js"></script>
    <script src="../../components/header.js"></script>
    <script src="../../components/footer.js"></script>
    <link rel="stylesheet" href="../../assets/css/swiper.min.css">
    <script src="../../assets/js/swiper.min.js"></script>
</head>
<body>

    <div class="aboutUs-box">
        <div class="header active" id="header"></div>


        <div class="aboutUs-content">

            <div class="formmode-content-title">
                <h2>Welcome to KRC Family</h2>
                <p>与君初相逢，犹如故人归</p>
            </div>
            <div class="formmode-content-cover">
                <div class="formmode-content-cover-back">
                    <img src="../../assets/images/img_about_headerimg.png" alt="">
                </div>
                <div class="formmode-content-cover-txt">
                    <ul>
                        <li>
                            <h2>
                                <span>30</span>
                                <span>人 +</span>
                            </h2>
                            <p>
                                30位志同道合的人，职业横跨产品经理、用户行为研究员、人机交互设计师、视觉体验设计师、研发、投资经理等，代表各领域专业人员
                            </p>
                        </li>
                        <li>
                            <h2>
                                <span>8</span>
                                <span>年 +</span>
                            </h2>
                            <p>核心团队平均工作 8 年 +，50% 具有明星企业经历，来自各领域最前沿产业经验、人脉、视野。包括但不限于联想研究院、百度、腾讯、360、微软等</p>
                        </li>
                        <li>
                            <h2>
                                <span>11</span>
                                <span>创业 +</span>
                            </h2>
                            <p>11 次创业经验（中）、平均 2 人有 1 次创业经历，对创业方法论、节奏、打法有着清醒而深刻的认识，参与过的项目有小牛电动、中国国家地理地道风物等</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="formmode-content-banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper" id="swiper-wrapper">
                        <div class="swiper-slide active">
                            <div class="swiper-slide-box">
                                <img src="../../assets/images/Bitmapl.png" alt="">
                            </div>
                            <div class="formmode-content-banner-text">
                                <h2>柳科 <span>科技、人文、梦想家</span></h2>
                                <p>K² Star（夸克星科技人文实验室）创始人，也是国内用户研究、人机交互、文化互联网跨领域专家。K² Star 旨在通过科技与人文交融与碰撞，寻找下一个十年的趋势型产品。</p>
                                <p>奇虎 360 前研究、人机交互设计团负责人，众多亿级用户产品创新；小牛电动车前智能产品总监，产品众筹记录全国第 1；联合国教科文非遗大数据平台首席设计师，首届 DIICH 杯设计大赛执行主席；中国国家地理·地道风物前首席产品官；唐硕咨询机构、联想研究院 URC 前研究员；香港大学 ICB 首届杰出校友、南开大学 MBA 导师；香港大学紫荆共创会会长，中关村天使营成员；双鱼座、爱吃辣、铁人三项爱好者。</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-box">
                                <img src="../../assets/images/Bitmapl.png" alt="">
                            </div>
                            <div class="formmode-content-banner-text">
                                <h2>柳科 <span>科技、人文、梦想家</span></h2>
                                <p>K² Star（夸克星科技人文实验室）创始人，也是国内用户研究、人机交互、文化互联网跨领域专家。K² Star 旨在通过科技与人文交融与碰撞，寻找下一个十年的趋势型产品。</p>
                                <p>奇虎 360 前研究、人机交互设计团负责人，众多亿级用户产品创新；小牛电动车前智能产品总监，产品众筹记录全国第 1；联合国教科文非遗大数据平台首席设计师，首届 DIICH 杯设计大赛执行主席；中国国家地理·地道风物前首席产品官；唐硕咨询机构、联想研究院 URC 前研究员；香港大学 ICB 首届杰出校友、南开大学 MBA 导师；香港大学紫荆共创会会长，中关村天使营成员；双鱼座、爱吃辣、铁人三项爱好者。</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-box">
                                <img src="../../assets/images/Bitmapl.png" alt="">
                            </div>
                            <div class="formmode-content-banner-text">
                                <h2>柳科 <span>科技、人文、梦想家</span></h2>
                                <p>K² Star（夸克星科技人文实验室）创始人，也是国内用户研究、人机交互、文化互联网跨领域专家。K² Star 旨在通过科技与人文交融与碰撞，寻找下一个十年的趋势型产品。</p>
                                <p>奇虎 360 前研究、人机交互设计团负责人，众多亿级用户产品创新；小牛电动车前智能产品总监，产品众筹记录全国第 1；联合国教科文非遗大数据平台首席设计师，首届 DIICH 杯设计大赛执行主席；中国国家地理·地道风物前首席产品官；唐硕咨询机构、联想研究院 URC 前研究员；香港大学 ICB 首届杰出校友、南开大学 MBA 导师；香港大学紫荆共创会会长，中关村天使营成员；双鱼座、爱吃辣、铁人三项爱好者。</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-box">
                                <img src="../../assets/images/Bitmapl.png" alt="">
                            </div>
                            <div class="formmode-content-banner-text">
                                <h2>柳科 <span>科技、人文、梦想家</span></h2>
                                <p>K² Star（夸克星科技人文实验室）创始人，也是国内用户研究、人机交互、文化互联网跨领域专家。K² Star 旨在通过科技与人文交融与碰撞，寻找下一个十年的趋势型产品。</p>
                                <p>奇虎 360 前研究、人机交互设计团负责人，众多亿级用户产品创新；小牛电动车前智能产品总监，产品众筹记录全国第 1；联合国教科文非遗大数据平台首席设计师，首届 DIICH 杯设计大赛执行主席；中国国家地理·地道风物前首席产品官；唐硕咨询机构、联想研究院 URC 前研究员；香港大学 ICB 首届杰出校友、南开大学 MBA 导师；香港大学紫荆共创会会长，中关村天使营成员；双鱼座、爱吃辣、铁人三项爱好者。</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-slide-box">
                                <img src="../../assets/images/Bitmapl.png" alt="">
                            </div>
                            <div class="formmode-content-banner-text">
                                <h2>柳科 <span>科技、人文、梦想家</span></h2>
                                <p>K² Star（夸克星科技人文实验室）创始人，也是国内用户研究、人机交互、文化互联网跨领域专家。K² Star 旨在通过科技与人文交融与碰撞，寻找下一个十年的趋势型产品。</p>
                                <p>奇虎 360 前研究、人机交互设计团负责人，众多亿级用户产品创新；小牛电动车前智能产品总监，产品众筹记录全国第 1；联合国教科文非遗大数据平台首席设计师，首届 DIICH 杯设计大赛执行主席；中国国家地理·地道风物前首席产品官；唐硕咨询机构、联想研究院 URC 前研究员；香港大学 ICB 首届杰出校友、南开大学 MBA 导师；香港大学紫荆共创会会长，中关村天使营成员；双鱼座、爱吃辣、铁人三项爱好者。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="aboutUs-content-image">
                <div class="swiper-container-images1" id="swiper-container-images1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide active">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-container-images2" id="swiper-container-images2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide active">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-container-images3" id="swiper-container-images3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide active">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div>
                                <img src="../../assets/images/Bitmapuser.png" alt="">
                                <div class="swiper-slide-txt">
                                    <div>
                                        <h2>Kevin yu</h2>
                                        <p>前端架构师</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="aboutUs-content-business">
                <div class="aboutUs-content-business-title"></div>
                <div class="aboutUs-content-business-text">
                    <h2>公司业务</h2>
                    <ul>
                        <li>
                            <div>
                                <div>
                                    <h3>夸克星实验室</h3>
                                    <p>夸克星解决方案</p>
                                    <p>k + 孵化器</p>
                                </div>
                            </div>
                            <div><img src="../../assets/images/img_businessimg_1.png" alt=""></div>
                        </li>
                        <li>
                            <div>
                                <div>
                                    <h3>夸克星创投科技</h3>
                                    <p>全球数字科技创新研究院</p>
                                </div>
                            </div>
                            <div><img src="../../assets/images/img_businessimg_2.png" alt=""></div>
                        </li>
                        <li>
                            <div>
                                <div>
                                    <h3>夸克星人文科技</h3>
                                    <p>非遗创新设计大赛</p>
                                    <p>风物发现官</p>
                                </div>
                            </div>
                            <div><img src="../../assets/images/img_businessimg_3.png" alt=""></div>
                        </li>
                    </ul>
                </div>
            </div>

<!--javier.png-->
            <div class="aboutUs-content-Culture" id="aboutUs-content-Culture">
                <div class="aboutUs-content-Culture-box">
                    <div class="aboutUs-content-Culture-backimg">
                        <img src="../../assets/images/javier.png" alt="">
                    </div>
                    <div class="boutUs-content-Culture-text">
                        <h2>
                            公司文化
                        </h2>
                        <ul>
                            <li>
                                <div class="obox">
                                    <h3>专业</h3>
                                    <p>Professional</p>
                                </div>
                            </li>
                            <li>
                                <div class="obox">
                                    <h3>有效</h3>
                                    <p>Efficient</p>
                                </div>
                            </li>
                            <li>
                                <div class="obox">
                                    <h3>进取</h3>
                                    <p>Enterprising</p>
                                </div>
                            </li>
                            <li>
                                <div class="obox">
                                    <h3>心态正</h3>
                                    <p>Great attitude</p>
                                </div>
                            </li>
                        </ul>
                        <p class="boutUs-content-Culture-loding">
                            <a href="javascript:;">查看团建活动 <i></i></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="aboutUs-content-exhibition">
                <ul>
                    <li><img src="../../assets/images/img_about_company_1.png" alt=""></li>
                    <li><img src="../../assets/images/img_about_company_2.png" alt=""></li>
                    <li><img src="../../assets/images/img_about_company_3.png" alt=""></li>
                </ul>
            </div>








        </div>



        <div class="footer" id="footer"></div>
    </div>



</body>
</html>



<script>

    $(document).ready(function () {
        $('#header-title-pics > li:nth-of-type(5)').addClass('active');
        var mySwiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: 3000,//可选选项，自动滑动
            slidesPerView : 3,
            slidesPerGroup : 1,
            spaceBetween : 200,
            centeredSlides : true,
            slidesOffsetBefore : -400,
            onInit: function(swiper1) {    // 初始化回调
                $(".swiper-slide").eq(swiper1.activeIndex).addClass('active').siblings().removeClass('active');
            },
            onSlideChangeStart:function (swiper) {      // 每次切换回调
                $(".swiper-slide").eq(swiper.activeIndex).addClass('active').siblings().removeClass('active');
            },
        })
        /**
         * 无缝轮播
         * @type {a|*}
         */
        var mySwiper1 = new Swiper('.swiper-container-images1', {
            autoplayDisableOnInteraction : false,
            grabCursor: true,//鼠标光标
            speed: 1000,
            loop : true,
            freeMode : true,
            freeModeMomentum : false,
            slidesPerView : 5,
            autoplay: 1,

        })
        var mySwiper2 = new Swiper('.swiper-container-images2', {
            autoplayDisableOnInteraction : false,
            grabCursor: true,//鼠标光标
            speed: 2000,
            loop : true,
            freeMode : true,
            slidesPerView : 5,
            autoplay: 1,
        })
        var mySwiper3 = new Swiper('.swiper-container-images3', {
            autoplayDisableOnInteraction : false,
            grabCursor: true,//鼠标光标
            speed: 1500,
            loop : true,
            freeMode : true,
            slidesPerView : 5,
            autoplay: 1,
        })


        //移入swiper停止轮播
        $("#swiper-container-images1 .swiper-wrapper").hover(function () {
            mySwiper1.stopAutoplay();
        },function () {
            mySwiper1.startAutoplay();
        })
        $("#swiper-container-images2 .swiper-wrapper").hover(function () {
            mySwiper2.stopAutoplay();
        },function () {
            mySwiper2.startAutoplay();
        })
        $("#swiper-container-images3 .swiper-wrapper").hover(function () {
            mySwiper3.stopAutoplay();
        },function () {
            mySwiper3.startAutoplay();
        })







        // 添加动画
        function createMation(callback) {
            $("#aboutUs-content-Culture .aboutUs-content-Culture-backimg").addClass('active');
            setTimeout(function () {
                $("#aboutUs-content-Culture li").addClass('active');
            },500);
            setTimeout(function () {
                $("#aboutUs-content-Culture .obox").addClass('active');
            },800)
            return typeof callback == 'function' && callback();
        };
        //解除动画
        function removeMation(callback) {
            $("#aboutUs-content-Culture .aboutUs-content-Culture-backimg").removeClass('active');
            $("#aboutUs-content-Culture > ul > li").removeClass('active');
            $("#aboutUs-content-Culture .obox").removeClass('active');
            return typeof callback == 'function' && callback();
        }
        //刷新页面显示
        if ($(window).scrollTop() > 4400) {
            createMation();
        }
        //滚动显示动画
        $(window).scroll(function () {
            if ($(window).scrollTop() > 4400) {
                createMation();
            }
        });













    })

</script>