@charset "UTF-8";
/**
  显示
 */
@keyframes boxShow {
  from {
    opacity: 0;
    background: #fff; }
  to {
    opacity: 1; } }
/**
 背景图片放大循环动画
 */
@-webkit-keyframes maxismin {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(2); } }
/**
文字向右移动动画
 */
@keyframes myfirst {
  from {
    transform: translateX(-400px); }
  to {
    transform: translateX(234px); } }
/**
文字向右移动
 */
@keyframes myright {
  from {
    margin-left: -300px; }
  to {
    margin-left: 0; } }
/**
文字向左移动动画
 */
@keyframes myleft {
  from {
    right: -300px; }
  to {
    right: 0; } }
@keyframes mywidth {
  from {
    width: 0; }
  to {
    width: 500px; } }
@keyframes myantion {
  0% {
    width: 0;
    left: 0; }
  50% {
    width: 500px;
    left: 0; }
  100% {
    width: 500px;
    left: 600px; } }
@keyframes mywidth1 {
  from {
    width: 0; }
  to {
    width: 400px; } }
@keyframes myantion1 {
  0% {
    width: 0;
    left: 0; }
  50% {
    width: 100%;
    left: 0; }
  100% {
    width: 400px;
    left: 100%; } }
@keyframes mywidth2 {
  from {
    width: 0; }
  to {
    width: 290px; } }
* {
  margin: 0;
  padding: 0; }

html, body, .box {
  width: 100%;
  height: 100%; }

html {
  box-sizing: border-box;
  animation: boxShow .5s linear forwards; }

html, body, .box {
  margin: 0 auto;
  min-width: 1200px;
  position: relative; }

.header {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 0 45px; }
  .header .header-content {
    max-width: 1440px;
    min-width: 1200px;
    zoom: 1;
    margin: 0 auto; }
    .header .header-content:after {
      display: block;
      clear: both;
      content: ''; }
  .header .header-logo {
    float: left;
    width: 120px;
    height: 36px;
    background: url("../images/icon_menu_logo_light.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 20px; }
  .header .header-title {
    float: right; }
    .header .header-title ul {
      zoom: 1;
      margin-top: 28px; }
      .header .header-title ul:after {
        display: block;
        clear: both;
        content: ''; }
      .header .header-title ul li {
        float: left;
        margin-right: 100px; }
        .header .header-title ul li:nth-of-type(5) {
          margin-right: 0; }
        .header .header-title ul li a {
          color: #fff;
          position: relative; }
          .header .header-title ul li a:after {
            content: '';
            width: 0;
            height: 2px;
            background: #fff;
            position: absolute;
            bottom: -10px;
            left: 0;
            overflow: hidden;
            -webkit-transition: all .3s;
            transition: all .3s; }
          .header .header-title ul li a:hover:after {
            width: 100%; }
        .header .header-title ul li.active a:after {
          content: '';
          width: 100%;
          height: 2px;
          background: #fff;
          position: absolute;
          bottom: -10px;
          left: 0;
          overflow: hidden;
          -webkit-transition: all .3s;
          transition: all .3s; }
  .header.active .header-logo {
    background: url("../images/icon_menu_logo_dark.png") no-repeat;
    background-size: 100% 100%; }
  .header.active .header-title ul li a {
    color: #000; }
    .header.active .header-title ul li a:after {
      background: #000; }

/*# sourceMappingURL=header.css.map */
