@charset "UTF-8";
/**
  显示
 */
@keyframes boxShow {
  from {
    opacity: 0;
    background: #fff; }
  to {
    opacity: 1; } }
/**
 背景图片放大循环动画
 */
@-webkit-keyframes maxismin {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(2); } }
/**
文字向右移动动画
 */
@keyframes myfirst {
  from {
    transform: translateX(-400px); }
  to {
    transform: translateX(234px); } }
/**
文字向右移动
 */
@keyframes myright {
  from {
    left: -100px; }
  to {
    left: 234px; } }
/**
文字向左移动动画
 */
@keyframes myleft {
  from {
    right: -100px; }
  to {
    right: 350px; } }
* {
  margin: 0;
  padding: 0; }

html, body, .box {
  width: 100%;
  height: 100%; }

html {
  box-sizing: border-box;
  animation: boxShow .5s linear forwards; }

html, body, .box {
  margin: 0 auto;
  min-width: 1200px;
  position: relative; }

.footer {
  width: 100%;
  height: 384px;
  background: #000000; }
  .footer > ul {
    max-width: 1440px;
    min-width: 1200px;
    margin: 0 auto;
    zoom: 1;
    position: relative; }
    .footer > ul:after {
      display: block;
      clear: both;
      content: ''; }
    .footer > ul > li {
      float: left; }
      .footer > ul > li .footer-logo {
        width: 133px;
        height: 40px;
        background: url("../images/icon_menu_logo_light.png") no-repeat;
        background-size: 100% 100%;
        margin-top: 81px; }
      .footer > ul > li .footer-Copyright {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.56);
        letter-spacing: 0;
        line-height: 26px;
        margin-top: 131px; }
      .footer > ul > li:nth-of-type(2) {
        margin-left: 251px; }
      .footer > ul > li ul {
        zoom: 1; }
        .footer > ul > li ul:after {
          display: block;
          clear: both;
          content: ''; }
        .footer > ul > li ul li {
          float: left; }
          .footer > ul > li ul li:nth-of-type(2) {
            margin-left: 46px; }
          .footer > ul > li ul li .footer-txt-let {
            font-size: 32px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 40px;
            margin-top: 80px;
            margin-bottom: 60px; }
          .footer > ul > li ul li .footer-txt-content {
            font-size: 12px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 26px;
            margin-bottom: 20px; }
            .footer > ul > li ul li .footer-txt-content.active {
              margin-top: 180px;
              margin-left: 7px; }
          .footer > ul > li ul li .footer-txt-hey {
            opacity: 0.56;
            font-size: 32px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 40px;
            margin-top: 80px;
            margin-bottom: 60px; }
      .footer > ul > li .footer-qrCode {
        width: 64px;
        height: 64px;
        background: url("../images/Bitmap.png") no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: 0;
        bottom: 20px; }

html, body, .box {
  width: 100%;
  height: 100%; }

html, body, .box {
  margin: 0 auto;
  min-width: 1200px;
  position: relative; }

.start-background {
  width: 100%;
  height: 100%;
  min-width: 1200px;
  background: url("../images/img_coverpage_backgroundimg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: maxismin 50s linear forwards;
  position: absolute;
  left: 0;
  top: 0; }

.start-title {
  position: absolute;
  transform: translateX(234px);
  animation: myfirst 5s; }
  .start-title .k2-star {
    box-sizing: border-box;
    margin-top: 181px;
    height: 89px;
    color: #fff;
    font-weight: bold;
    font-size: 80px; }
  .start-title .star-text {
    margin-top: 74px;
    width: 400px;
    height: 100px;
    background: url("../images/img_homepage_title.png");
    background-repeat: no-repeat;
    background-size: 100% auto; }
  .start-title .start-btn {
    width: 148px;
    height: 56px;
    margin-top: 111px;
    background: #103DFF;
    text-align: center;
    line-height: 56px; }
    .start-title .start-btn a {
      color: #fff; }

/*# sourceMappingURL=start.css.map */
