<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- build:css css/details.min.css -->
    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <!-- endbuild -->

    <!--build:js js/details.min.js -->
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../config/api.js"></script>
    <script src="../../components/header.js"></script>
    <script src="../../components/footer.js"></script>
    <script src="../../components/details/details.js"></script>
    <!-- endbuild -->
    <style>
        .details-box {
            width: 100%;
        }
        .details-content {
            max-width: 1440px;
            min-width: 1200px;
            min-height: 500px;
            margin: 0 auto;
            box-sizing: border-box;
            box-sizing: border-box;
            padding: 150px 45px 20px;
        }
        #details-title {
            font-size: 24px;
            font-weight: 400;

        }
    </style>
</head>
<body>
    <div class="details-box">
        <div class="header active" id="header"></div>
        <div class="details-content">
            <h2 id="details-title"></h2>
            <div id="details-content">

            </div>
        </div>
        <div class="footer" id="footer"></div>
    </div>
</body>
</html>