<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--去除默认样式-->
    <link rel="stylesheet" href="../../assets/css/default.css">
    <!--header样式-->
    <link rel="stylesheet" href="../../assets/css/header.css">
    <!--foter样式-->
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <!--content样式-->
    <link rel="stylesheet" href="../../assets/css/home.css">
    <script src="../../assets/js/jquery.min.js"></script>
    <!--动画-->
    <script src="../../assets/js/home.js"></script>
    <!--公共headerHTML-->
    <script src="../../components/header.js"></script>
    <!--公共footerHTML-->
    <script src="../../components/footer.js"></script>
</head>
<body>
    <div class="home-box">
        <div class="header" id="header"></div>

        <div class="home-view-content">
            <div class="home-content">
                <div class="home-content-background">
                    <img src="../../assets/images/img_header_heroimg.png" alt="">
                </div>
                <div class="home-banner-box">
                    <div class="home-banner">
                        <div class="home-view">
                            <div class="home-title">Here comes K² Star Sluate to game-changers</div>
                            <div class="home-text"></div>
                        </div>
                        <a href="javascript:;" class="home-right">了解我们 <i></i></a>
                    </div>
                </div>
            </div>
            <div class="home-list" id="home-list">
                <ul class="home-list-pase">
                    <li>
                        <div class="home-list-img">
                            <div class="home-list-pics">
                                <img src="../../assets/images/img_news_1.png" alt="">
                            </div>
                            <div class="home-list-txt">
                                <ul>
                                    <li>
                                        <p>Nov</p>
                                        <p>25</p>
                                    </li>
                                    <li>
                                        <p>「专访」港大杰出校友柳科专访</p>
                                        <p>追寻梦想，永远倔强</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="get_cope"></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-list-img">
                            <div class="home-list-pics">
                                <img src="../../assets/images/img_news_2.png" alt="">
                            </div>
                            <div class="home-list-txt">
                                <ul>
                                    <li>
                                        <p>Nov</p>
                                        <p>25</p>
                                    </li>
                                    <li>
                                        <p>「专访」港大杰出校友柳科专访</p>
                                        <p>追寻梦想，永远倔强</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="get_cope"></div>
                        </div>

                    </li>
                    <li>
                        <div class="home-list-img">
                            <div class="home-list-pics">
                                <img src="../../assets/images/img_news_3.png" alt="">
                            </div>
                            <div class="home-list-txt">
                                <ul>
                                    <li>
                                        <p>Nov</p>
                                        <p>25</p>
                                    </li>
                                    <li>
                                        <p>「专访」港大杰出校友柳科专访</p>
                                        <p>追寻梦想，永远倔强</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="get_cope"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="home-type">
                <ul>
                    <li>
                        <div class="home-type-img" id="home-type-img1">
                            <img src="../../assets/images/img_features_1.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt1">
                            <h3>01</h3>
                            <p>传统企业数字化转型</p>
                            <p>Digital transformation of</p>
                            <p>traditional enterproses</p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left1">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img2">
                            <img src="../../assets/images/img_features_2.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt2">
                            <h3>02</h3>
                            <p>智能全产品人机交互设计</p>
                            <p>Digital transformation of</p>
                            <p>traditional enterproses</p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left2">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img3">
                            <img src="../../assets/images/img_features_3.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt3">
                            <h3>03</h3>
                            <p>O2O产品场景服务设计</p>
                            <p>Digital transformation of</p>
                            <p>traditional enterproses</p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left3">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img4">
                            <img src="../../assets/images/img_features_4.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt4">
                            <h3>04</h3>
                            <p>新产品新零售认知</p>
                            <p>Digital transformation of</p>
                            <p>traditional enterproses</p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left4">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img5">
                            <img src="../../assets/images/img_features_5.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt5">
                            <h3>05</h3>
                            <p>经典TMT产品体验提升</p>
                            <p>Digital transformation of</p>
                            <p>traditional enterproses</p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left5">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="home-cooperation">
                <div>
                    <ul>
                        <li class="home-cooperation-name" id="home-cooperation-name"><span>Hi, K² Star</span></li>
                        <li class="home-cooperation-btn" id="home-cooperation-btn"><a href="javascript:;">如何合作</a></li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="footer" id="footer">

        </div>


    </div>
</body>
<script>
    $(document).ready(function () {
        $('#header-title-pics > li:nth-of-type(1)').addClass('active');
    })
</script>
