<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--去除默认样式-->
    <link rel="stylesheet" href="../../assets/css/default.css">
    <!--header样式-->
    <link rel="stylesheet" href="../../assets/css/header.css">
    <!--foter样式-->
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <!--content样式-->
    <link rel="stylesheet" href="../../assets/css/home.css">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../config/api.js"></script>
    <!--动画-->
    <script src="../../assets/js/home.js"></script>
    <!--公共headerHTML-->
    <script src="../../components/header.js"></script>
    <!--公共footerHTML-->
    <script src="../../components/footer.js"></script>
</head>
<body>
    <div class="home-box">
        <div class="header" id="header"></div>

        <div class="home-view-content">
            <div class="home-content">
                <div class="home-content-background">
                    <img src="../../assets/images/img_header_heroimg.png" alt="">
                </div>
                <div class="home-banner-box">
                    <div class="home-banner">
                        <div class="home-view">
                            <div class="home-title" id="home-title">
                                <span>Here</span>
                                <span>comes</span>
                                <span>K²</span>
                                <span>Star</span>
                                <span>Sluate</span>
                                <span>to</span>
                                <span>game</span>
                                <span>-</span>
                                <span>changers</span>
                            </div>
                            <div class="home-text" id="home-text">
                                <span>-</span>
                                <span>真</span>
                                <span>正</span>
                                <span>创</span>
                                <span>业</span>
                                <span>过</span>
                                <span>的</span>
                                <span>互</span>
                                <span>联</span>
                                <span>网</span>
                                <span>专</span>
                                <span>家</span>
                                <span>,</span>
                                <span>做</span>
                                <span>实</span>
                                <span>战</span>
                                <span>派</span>
                                <span>的</span>
                                <span>创</span>
                                <span>业</span>
                                <span>孵</span>
                                <span>化</span>
                                <span>机</span>
                                <span>构</span>
                            </div>
                        </div>
                        <a href="javascript:;" class="home-right">了解我们 <i></i></a>
                    </div>
                </div>
            </div>
            <div class="home-list" id="home-list">
                <ul class="home-list-pase">
                    <li>
                        <div class="home-list-img">
                            <div class="home-list-pics">
                                <img src="../../assets/images/img_news_1.png" alt="">
                            </div>
                            <div class="home-list-txt">
                                <ul>
                                    <li>
                                        <p>Nov</p>
                                        <p>25</p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>「</span>
                                            <span>专</span>
                                            <span>访</span>
                                            <span>」</span>
                                            <span>港</span>
                                            <span>大</span>
                                            <span>杰</span>
                                            <span>出</span>
                                            <span>校</span>
                                            <span>友</span>
                                            <span>柳</span>
                                            <span>科</span>
                                            <span>专</span>
                                            <span>访</span>
                                            <span>追</span>
                                            <span>寻</span>
                                            <span>梦</span>
                                            <span>想</span>
                                            <span>，</span>
                                            <span>永</span>
                                            <span>远</span>
                                            <span>倔</span>
                                            <span>强</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="get_cope"></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-list-img">
                            <div class="home-list-pics">
                                <img src="../../assets/images/img_news_2.png" alt="">
                            </div>
                            <div class="home-list-txt">
                                <ul>
                                    <li>
                                        <p>Nov</p>
                                        <p>25</p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>「</span>
                                            <span>KRC</span>
                                            <span>·</span>
                                            <span>智</span>
                                            <span>能</span>
                                            <span>车</span>
                                            <span>」</span>
                                            <span>夸</span>
                                            <span>克</span>
                                            <span>成</span>
                                            <span>为</span>
                                            <span>车</span>
                                            <span>载</span>
                                            <span>信</span>
                                            <span>息</span>
                                            <span>产</span>
                                            <span>业</span>
                                            <span>联</span>
                                            <span>盟</span>
                                            <span>TIAA</span>
                                            <span>正</span>
                                            <span>式</span>
                                            <span>成</span>
                                            <span>员</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="get_cope"></div>
                        </div>

                    </li>
                    <li>
                        <div class="home-list-img">
                            <div class="home-list-pics">
                                <img src="../../assets/images/img_news_3.png" alt="">
                            </div>
                            <div class="home-list-txt">
                                <ul>
                                    <li>
                                        <p>Nov</p>
                                        <p>25</p>
                                    </li>
                                    <li>
                                        <p>
                                            <span>「</span>
                                            <span>KRC</span>
                                            <span>·</span>
                                            <span>活</span>
                                            <span>动</span>
                                            <span>」</span>
                                            <span>夸</span>
                                            <span>克</span>
                                            <span>×</span>
                                            <span>鹿</span>
                                            <span>客</span>
                                            <span>联</span>
                                            <span>手</span>
                                            <span>打</span>
                                            <span>造</span>
                                            <span>智</span>
                                            <span>能</span>
                                            <span>门</span>
                                            <span>锁</span>
                                            <span>体</span>
                                            <span>验</span>
                                            <span>新</span>
                                            <span>标</span>
                                            <span>准</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                            <div class="get_cope"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="home-type">
                <ul>
                    <li>
                        <div class="home-type-img" id="home-type-img1">
                            <img src="../../assets/images/img_features_1.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt1">
                            <h3>01</h3>
                            <p>
                                <span>传</span>
                                <span>统</span>
                                <span>企</span>
                                <span>业</span>
                                <span>数</span>
                                <span>字</span>
                                <span>化</span>
                                <span>转</span>
                                <span>型</span>
                            </p>
                            <p>
                                <span>Digital</span>
                                <span>Transformation</span>
                                <span>of</span>
                                <span>Traditional</span>
                                <span>Enterprise</span>
                            </p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left1">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img2">
                            <img src="../../assets/images/img_features_2.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt2">
                            <h3>02</h3>
                            <p>
                                <span>智</span>
                                <span>能</span>
                                <span>全</span>
                                <span>产</span>
                                <span>品</span>
                                <span>人</span>
                                <span>机</span>
                                <span>交</span>
                                <span>互</span>
                                <span>设</span>
                                <span>计</span>
                            </p>
                            <p>
                                <span>HCI</span>
                                <span>Design</span>
                                <span>of</span>
                                <span>Smart</span>
                                <span>Products</span>
                            </p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left2">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img3">
                            <img src="../../assets/images/img_features_3.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt3">
                            <h3>03</h3>
                            <p>
                                <span>O2O</span>
                                <span>产</span>
                                <span>品</span>
                                <span>场</span>
                                <span>景</span>
                                <span>服</span>
                                <span>务</span>
                                <span>设</span>
                                <span>计</span>
                            </p>
                            <p>
                                <span>Service</span>
                                <span>Design</span>
                                <span>of</span>
                                <span>O2O</span>
                                <span>Products</span>
                                <span>in</span>
                                <span>Full</span>
                                <span>Scenes</span>
                            </p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left3">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img4">
                            <img src="../../assets/images/img_features_4.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt4">
                            <h3>04</h3>
                            <p>
                                <span>新</span>
                                <span>产</span>
                                <span>品，</span>
                                <span>新</span>
                                <span>零</span>
                                <span>售，</span>
                                <span>新</span>
                                <span>认</span>
                                <span>知</span>
                            </p>
                            <p>
                                <span>New</span>
                                <span>Products,</span>
                                <span>New</span>
                                <span>Retail,</span>
                                <span>New</span>
                                <span>Awareness</span>
                            </p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left4">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img5">
                            <img src="../../assets/images/img_features_5.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt5">
                            <h3>05</h3>
                            <p>
                                <span>经</span>
                                <span>典</span>
                                <span>TMT</span>
                                <span>产</span>
                                <span>品</span>
                                <span>体</span>
                                <span>验</span>
                                <span>设</span>
                                <span>计</span>
                            </p>
                            <p>
                                <span>Conventional</span>
                                <span>TMT</span>
                                <span>Porduct</span>
                                <span>Experience</span>
                                <span>Optimization</span>
                            </p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left5">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="home-cooperation">
                <div>
                    <ul>
                        <li class="home-cooperation-name" id="home-cooperation-name"><span>Hi, K² Star</span></li>
                        <li class="home-cooperation-btn" id="home-cooperation-btn"><a href="javascript:;">如何合作</a></li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="footer" id="footer">

        </div>


        <!--回到顶部-->
        <!--<i class="scrolltopWeb"></i>-->
        
        
        



    </div>
</body>
<script>
    $(document).ready(function () {
        $('#header-title-pics > li:nth-of-type(1)').addClass('active');
        var titleClass = $('#home-title span');
        var s1 = 100;
        for(let i = 1; i <= titleClass.length; i++) {
            setTimeout(function () {
                $('#home-title span:nth-of-type('+ i +')').addClass('active');
            },(s1 + (i * 200)))
        }
        var textClass = $("#home-text span");
        var s2 = 2500;
        for(let i = 1; i <= textClass.length; i++) {
            setTimeout(function () {
                $("#home-text span:nth-of-type("+ i +")").addClass('active');
            }, (s2 + (i * 10)))
        }
    })
</script>
