<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/home.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/js/home.js"></script>
</head>
<body>
    <div class="home-box">
        <div class="header">
            <div class="header-content">
                <div class="header-logo"></div>
                <div class="header-title">
                    <ul>
                        <li class="active"><a href="javascript:;">首页</a></li>
                        <li><a href="javascript:;">案例</a></li>
                        <li><a href="javascript:;">K + 孵化器</a></li>
                        <li><a href="javascript:;">合作方式</a></li>
                        <li><a href="javascript:;">我们</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="home-view-content">
            <div class="home-content">
                <div class="home-content-background">
                    <img src="../../assets/images/img_header_heroimg.png" alt="">
                </div>
                <div class="home-banner-box">
                    <div class="home-banner">
                        <div class="home-view">
                            <div class="home-title">dskmvkdfmv</div>
                            <div class="home-text"></div>
                        </div>
                        <a href="javascript:;" class="home-right">了解我们 <i></i></a>
                    </div>
                </div>
            </div>
            <div class="home-list" id="home-list">
                <ul class="home-list-pase">
                    <li>
                        <div class="home-list-img">
                            <div class="home-list-pics">
                                <img src="../../assets/images/img_news_1.png" alt="">
                            </div>
                            <div class="home-list-txt">
                                <ul>
                                    <li>
                                        <p>Nov</p>
                                        <p>25</p>
                                    </li>
                                    <li>
                                        <p>「专访」港大杰出校友柳科专访</p>
                                        <p>追寻梦想，永远倔强</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="get_cope"></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-list-img">
                            <div class="home-list-pics">
                                <img src="../../assets/images/img_news_2.png" alt="">
                            </div>
                            <div class="home-list-txt">
                                <ul>
                                    <li>
                                        <p>Nov</p>
                                        <p>25</p>
                                    </li>
                                    <li>
                                        <p>「专访」港大杰出校友柳科专访</p>
                                        <p>追寻梦想，永远倔强</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="get_cope"></div>
                        </div>

                    </li>
                    <li>
                        <div class="home-list-img">
                            <div class="home-list-pics">
                                <img src="../../assets/images/img_news_3.png" alt="">
                            </div>
                            <div class="home-list-txt">
                                <ul>
                                    <li>
                                        <p>Nov</p>
                                        <p>25</p>
                                    </li>
                                    <li>
                                        <p>「专访」港大杰出校友柳科专访</p>
                                        <p>追寻梦想，永远倔强</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="get_cope"></div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="home-type">
                <ul>
                    <li>
                        <div class="home-type-img" id="home-type-img1">
                            <img src="../../assets/images/img_features_1.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt1">
                            <h3>01</h3>
                            <p>传统企业数字化转型</p>
                            <p>Digital transformation of</p>
                            <p>traditional enterproses</p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left1">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img2">
                            <img src="../../assets/images/img_features_2.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt2">
                            <h3>02</h3>
                            <p>智能全产品人机交互设计</p>
                            <p>Digital transformation of</p>
                            <p>traditional enterproses</p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left2">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img3">
                            <img src="../../assets/images/img_features_3.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt3">
                            <h3>03</h3>
                            <p>O2O产品场景服务设计</p>
                            <p>Digital transformation of</p>
                            <p>traditional enterproses</p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left3">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img4">
                            <img src="../../assets/images/img_features_4.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt4">
                            <h3>04</h3>
                            <p>新产品新零售认知</p>
                            <p>Digital transformation of</p>
                            <p>traditional enterproses</p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left4">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                    <li>
                        <div class="home-type-img" id="home-type-img5">
                            <img src="../../assets/images/img_features_5.png" alt="">
                        </div>
                        <div class="home-type-txt" id="home-type-txt5">
                            <h3>05</h3>
                            <p>经典TMT产品体验提升</p>
                            <p>Digital transformation of</p>
                            <p>traditional enterproses</p>
                        </div>
                        <div class="home-antion-left" id="home-antion-left5">
                            <div></div>
                            <div></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="home-cooperation">
                <div>
                    <ul>
                        <li class="home-cooperation-name" id="home-cooperation-name"><span>Hi, K² Star</span></li>
                        <li class="home-cooperation-btn" id="home-cooperation-btn"><a href="javascript:;">如何合作</a></li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="footer" id="footer">
            <ul>
                <li>
                    <div class="footer-logo"></div>
                    <div class="footer-Copyright">
                        <p>Copyright © 2018 夸克星实验室</p>
                        <p>京ICP备16065072号-1</p>
                    </div>
                </li>
                <li>
                    <ul>
                        <li>
                            <p class="footer-txt-let">Let’s talk</p>
                            <div class="footer-txt-content">
                                <span>电话</span>
                                <p>+86-21-60746536</p>
                            </div>
                            <div class="footer-txt-content">
                                <span>公关媒体</span>
                                <p>pr@tangux.com</p>
                            </div>
                        </li>
                        <li>
                            <p class="footer-txt-hey">Hey@Krc.ai</p>
                            <div class="footer-txt-content">
                                <span>传真</span>
                                <p>+86-21-60746500</p>
                            </div>
                            <div class="footer-txt-content">
                                <span>简历投递</span>
                                <p>hr@tangux.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="footer-txt-content active">
                                <span>商务合作</span>
                                <p>info@tangux.com</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="footer-qrCode"></div>
                </li>
            </ul>
        </div>


    </div>
</body>
</html>