<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例</title>
    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/example.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../config/api.js"></script>
    <script src="../../components/header.js"></script>
    <script src="../../components/footer.js"></script>
    <link rel="stylesheet" href="../../assets/css/swiper.min.css">
    <script src="../../assets/js/swiper.min.js"></script>
    <script src="../../components/example/example.js"></script>
</head>
<body>
<div class="example-box">
    <div class="header active" id="header"></div>
    <div class="example-content">
        <div class="formmode-content-title">
            <h2>K² Star Insides</h2>
        </div>

        <div class="example-banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../../assets/images/img_product_1.png" alt="">
                        <div class="swiper-txt-box">
                            <h3>风物发现官</h3>
                            <p>Discovery Officer</p>
                            <p>中国新风物文化引领者</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/img_product_2.png" alt="">
                        <div class="swiper-txt-box">
                            <h3>CCTV微视</h3>
                            <p>China Central Television</p>
                            <p>电视媒体的互联网 + 转型</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <img src="../../assets/images/img_product_3.png" alt="">
                        <div class="swiper-txt-box">
                            <h3>国广融合</h3>
                            <p>Global Fusion</p>
                            <p>基于车载网络的应用数据平台</p>
                        </div>
                    </div>
                </div>
                <!--左右切换-->
                <div class="swiper-button-box">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <!--分页-->
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="example-list-type">
            <div class="example-list-type-box">
                <div class="example-list-type-box-childer">
                    <div class="example-list-type-text" id="example-list-type-text">
                        <ul class="example-list-type-text-master">
                            <li class="active"><a href="javscript:;" data_id="">全部</a></li>
                        </ul>
                        <ul class="example-list-type-text-pics" id="example-list-type-text-pics-service">
                           <!--服务分类-->
                        </ul>
                        <ul class="example-list-type-text-pics" id="example-list-type-text-pics-industry">
                            <!--行业分类-->
                        </ul>
                        <ul class="example-list-type-text-pics" id="example-list-type-text-pics-support">
                           <!--支持分类-->
                        </ul>
                    </div>
                    <div class="example-list-type-iamges" id="example-list-type-iamges">
                        <ul class="example-list-type-pics" id="example-list-type-pics">

                        </ul>
                        <p class="example-list-type-buttn" id="example-list-type-buttn"><a href="javascript:;">查看更多</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" id="footer"></div>
</div>

</body>
</html>
<script>
    $(document).ready(function () {
        $('#header-title-pics > li:nth-of-type(2)').addClass('active');
    })

</script>
