<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>合作方式</title>
    <link rel="stylesheet" href="../../assets/css/default.css">
    <link rel="stylesheet" href="../../assets/css/formmode.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../config/api.js"></script>
    <script src="../../components/header.js"></script>
    <script src="../../components/footer.js"></script>
    <link rel="stylesheet" href="../../assets/css/swiper.min.css">
    <script src="../../assets/js/swiper.min.js"></script>
    <script src="../../assets/js/delighters.js"></script>
</head>
<body>
    <div class="formmode-box">

        <div class="header active" id="header"></div>

        <div class="formmode-content">
            <div class="formmode-content-title">
                <h2>Co-Create</h2>
                <p>与中国创业力量一道，打造这个时代的创新</p>
            </div>
            <div class="formmode-content-programme">
                <div class="formmode-content-programme-title">
                     <h2>夸克星解决方案</h2>
                </div>
                <div class="formmode-content-programme-list" data-delighter>
                    <ul>
                        <li>
                            <h2>传统企业</h2>
                            <h2>数字化转型</h2>
                            <p>Digital Transformation </p>
                            <p>of Traditional</p>
                        </li>
                        <li>
                            <h2>智能产品</h2>
                            <h2>人机交互设计</h2>
                            <p>HCI Design</p>
                            <p>of Smart Products</p>
                        </li>
                        <li>
                            <h2>O2O产品</h2>
                            <h2>全场景服务设计</h2>
                            <p>Service Design</p>
                            <p>of O2O Products in Full Scenes</p>
                        </li>
                        <li>
                            <h2>新产品</h2>
                            <h2>新零售新认知</h2>
                            <p>New Products, New Retail</p>
                            <p>New Awareness</p>
                        </li>
                        <li>
                            <h2>经典TMT</h2>
                            <h2>产品体验提升</h2>
                            <p>Conventional TMT Porduct </p>
                            <p>Experience Optimization</p>
                        </li>
                    </ul>
                </div>
                <div class="formmode-content-programme-boject" data-delighter>
                    <ul>
                        <li>
                            <div>
                                <i></i>
                                <p>产品经理</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <i></i>
                                <p>用户研究</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <i></i>
                                <p>交互设计</p>
                            </div>

                        </li>
                        <li>
                            <div>
                                <i></i>
                                <p>视觉设计</p>
                            </div>

                        </li>
                        <li>
                            <div>
                                <i></i>
                                <p>产品/内容运营</p>
                            </div>

                        </li>
                        <li>
                            <div>
                                <i></i>
                                <p>软件开发</p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>

            <div class="formmode-content-programme">
                <div class="formmode-content-programme-title" data-delighter>
                    <h2>K + 孵化器</h2>
                </div>
                <div class="formmode-content-programme-list" data-delighter>
                    <ul>
                        <li>
                            <h2>01</h2>
                            <h2>项目投递</h2>
                            <p>Digital transform</p>
                            <p>of traditional</p>
                        </li>
                        <li>
                            <h2>02</h2>
                            <h2>面谈</h2>
                            <p>Digital transform</p>
                            <p>of traditional</p>
                        </li>
                        <li>
                            <h2>03</h2>
                            <h2>投委会</h2>
                            <p>Digital transform</p>
                            <p>of traditional</p>
                        </li>
                        <li>
                            <h2>04</h2>
                            <h2>合作方式洽谈</h2>
                            <p>Digital transform</p>
                            <p>of traditional</p>
                        </li>
                        <li>
                            <h2>05</h2>
                            <h2>签订合作</h2>
                            <p>Digital transform</p>
                            <p>of traditional</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="formmode-content-joinus">
                <div class="formmode-content-programme-title" data-delighter>
                    <h2>加入我们</h2>
                </div>
                <div class="formmode-content-joinus-texy">

                    <div class="formmode-content-joinus-list" data-delighter>
                        <ul>
                            <li class="active"><a href="javascript:;">全部</a></li>
                            <li><a href="javascript:;">视觉</a></li>
                            <li><a href="javascript:;">用研</a></li>
                            <li><a href="javascript:;">交互</a></li>
                            <li><a href="javascript:;">开发</a></li>
                            <li><a href="javascript:;">财务</a></li>
                        </ul>
                    </div>

                    <div class="formmode-content-joinus-content" data-delighter>
                        <ul>
                            <li>
                                <h3>交互设计师</h3>
                                <span>全职/北京</span>
                                <p>1 负责互联网及移动互联网产品界面的交互设计工作</p>
                                 <p>2 充分应用交互设计经验，结合用户研究和产品分析的成果，提高用户界面的可用性、易用性</p>
                                <p>3 参与产品规划、功能探索和用户研究的过程中并根据结果完成界面的信息架构、操作流程设计和原型设计</p>
                            </li>
                            <li>
                                <h3>视觉设计师</h3>
                                <span>全职/北京</span>
                                <p>1 负责互联网及移动互联网产品界面的交互设计工作</p>
                                <p>2 充分应用交互设计经验，结合用户研究和产品分析的成果，提高用户界面的可用性、易用性</p>
                                <p>3 参与产品规划、功能探索和用户研究的过程中并根据结果完成界面的信息架构、操作流程设计和原型设计</p>
                            </li>
                            <li>
                                <h3>产品设计师</h3>
                                <span>全职/北京</span>
                                <p>1 负责互联网及移动互联网产品界面的交互设计工作</p>
                                <p>2 充分应用交互设计经验，结合用户研究和产品分析的成果，提高用户界面的可用性、易用性</p>
                            </li>
                            <li>
                                <h3>架构设计师</h3>
                                <span>全职/北京</span>
                                <p>1 负责互联网及移动互联网产品界面的交互设计工作</p>
                                <p>2 充分应用交互设计经验，结合用户研究和产品分析的成果，提高用户界面的可用性、易用性</p>
                            </li>
                        </ul>
                        <p class="formmode-content-joinus-content-button"><a href="javascript:;">查看更多</a></p>
                    </div>

                    <div class="formmode-content-Map" data-delighter>
                        <div class="formmode-content-Map-white"></div>
                        <div class="formmode-content-Map-back"></div>
                        <div class="formmode-content-Map-white-bottom"></div>
                        <div class="formmode-content-Map-contact">
                            <ul>
                                <li>
                                    <p>商务合作</p>
                                    <span>info@k2star.ai</span>
                                </li>
                                <li>
                                    <p>电话</p>
                                    <span>+86-010-64332582</span>
                                </li>
                                <li>
                                    <p>BP 投递</p>
                                    <span>bp@k2star.ai</span>
                                </li>
                                <li>
                                    <p>微信</p>
                                    <span>NewCoking</span>
                                </li>
                                <li>
                                    <p>简历投递</p>
                                    <span>hr@k2star.ai</span>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        hr@k2star.ai
                                        <i></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="formmode-content-Map-position">
                            <div>
                                <div>
                                    <i></i>
                                    <span>夸克星实验室</span>
                                    <p>
                                        北京市 朝阳区 酒仙桥 10号无界空间
                                    </p>
                                    <b></b>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>


        </div>

        <div class="footer" id="footer"></div>

    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $('#header-title-pics > li:nth-of-type(4)').addClass('active');
        $(".formmode-content-joinus-list li").click(function () {
            $(this).addClass('active').siblings().removeClass('active');
        })
    })

</script>