<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>启动页</title>
    <!--<meta http-equiv="X-UA-Compatible" content="IE=7">-->
    <!--#以上代码告诉IE浏览器，无论是否用DTD声明文档标准，IE8/9都会以IE7引擎来渲染页面。-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=8">-->
    <!--#以上代码告诉IE浏览器，IE8/9都会以IE8引擎来渲染页面。-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--#以上代码告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。-->
    <meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">
    <meta http-equiv="X-UA-Compatible" content="IE=7,9">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--#以上代码IE=edge告诉IE使用最新的引擎渲染网页，chrome=1则可以激活Chrome Frame.-->
    <link rel="stylesheet" href="../assets/css/default.css">
    <link rel="stylesheet" href="../assets/css/start.css">
    <script src="../assets/js/jquery.min.js"></script>
</head>
<body>
<div class="box">
    <!--背景-->
    <div class="start-background"></div>
    <!--文字-->
    <div class="start-title">
        <div class="k2-star" id="k2-star">
            <span>K² </span>
            <span> Star</span>
        </div>
        <!--<div class="star-text"></div>-->
        <div class="star-text" id="star-text">
            <span>聚</span>
            <span>焦</span>
            <span>宏</span>
            <span>观</span>
            <span>世</span>
            <span>界</span>
            <span>的</span>
            <span>围</span>
            <span>观</span>
            <span>研</span>
            <span>究</span>
            <span>以</span>
            <span>微</span>
            <span>观</span>
            <span>,</span>
            <span>秦</span>
            <span>顶</span>
            <span>尖</span>
            <span>.</span>
        </div>
        <div class="start-btn" id="start-btn"><a href="./home/home.html">开始探索</a></div>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        //文字添加Class
        function textAnsion(dom1, dom2, mo1, mo2) {
            var txt1 = dom1;
            var txt2 = dom2;
            var s1 = mo1;
            var s2 = mo2
            for(let i = 1; i <= txt1.length; i++) {
                setTimeout(function () {
                    $(txt1).eq(i - 1).addClass('active');
                }, (s1 + (i * 200)))
            }
            for(let i = 1; i <= txt2.length; i++) {
                setTimeout(function () {
                    $(txt2).eq(i - 1).addClass('active');
                }, (s2 + (i * 100)))
            }
            setTimeout(function () {
                $("#start-btn").addClass('active');
            },1000)
        }
        textAnsion($("#k2-star span"), $("#star-text span"), 0, 500)

    })



</script>